@font-face {
	font-family: "Natasha"; 
	src: url("../fonts/Natasha.eot"); 
	src: url("../fonts/Natasha.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Natasha.woff") format("woff"), 
	url("../fonts/Natasha.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}
@font-face {
	font-family: "MuseoSansCyrl"; 
	src: url("../fonts/MuseoSansCyrl-100.eot"); 
	src: url("../fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
	url("../fonts/MuseoSansCyrl-100.woff") format("woff"), 
	url("../fonts/MuseoSansCyrl-100.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: lighter; 
}
@font-face {
	font-family: "MuseoSansCyrl"; 
	src: url("../fonts/MuseoSansCyrl-100Italic"); 
	src: url("../fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
	url("../fonts/MuseoSansCyrl-100.woff") format("woff"), 
	url("../fonts/MuseoSansCyrl-100.ttf") format("truetype"); 
	font-style: italic; 
	font-weight: lighter; 
}
@font-face {
	font-family: "MuseoSansCyrl"; 
	src: url("../fonts/MuseoSansCyrl-300.eot"); 
	src: url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
	url("../fonts/MuseoSansCyrl-300.woff") format("woff"), 
	url("../fonts/MuseoSansCyrl-300.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}
@font-face {
	font-family: "MuseoSansCyrl"; 
	src: url("../fonts/MuseoSansCyrl-300Italic.eot"); 
	src: url("../fonts/MuseoSansCyrl-300Italic.eot?#iefix") format("embedded-opentype"),
	url("../fonts/MuseoSansCyrl-300Italic.woff") format("woff"), 
	url("../fonts/MuseoSansCyrl-300Italic.ttf") format("truetype"); 
	font-style: italic; 
	font-weight: normal; 
}
@font-face {
	font-family: "MuseoSansCyrl"; 
	src: url("../fonts/MuseoSansCyrl-900.eot"); 
	src: url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
	url("../fonts/MuseoSansCyrl-900.woff") format("woff"), 
	url("../fonts/MuseoSansCyrl-900.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: bold; 
}
@font-face {
	font-family: "MuseoSansCyrl"; 
	src: url("../fonts/MuseoSansCyrl-900Italic.eot"); 
	src: url("../fonts/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"),
	url("../fonts/MuseoSansCyrl-900Italic.woff") format("woff"), 
	url("../fonts/MuseoSansCyrl-900Italic.ttf") format("truetype"); 
	font-style: italic; 
	font-weight: bold; 
}
div, p, input, button, form {
	box-sizing: border-box;
}


body{
	font-family: MuseoSansCyrl, Arial, sans-serif;
	font-weight: normal;
}
article{
	width: 980px;
	margin:0 auto;
	padding: 0 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#main-screen{
	background-image: url(../img/offer-bg.png);
	background-color: #1d2117;
	color: #fff;
	padding: 42px 0 80px 0;
	-webkit-background-size: cover;
	background-size: cover;
}

.main-screen--logo, .main-screen--navigation, .main-screen--nav-item{
	text-transform: uppercase;
	float: left;
}
.main-screen--logo{
	font-size: 17px;
	margin: 8px 180px 0 0;
}
.main-screen--navigation{
	font-size: 15px;
}
.main-screen--nav-item a{
	display: block;
	margin-right: 30px;
	padding: 8px 15px;
	text-decoration: none;
	color: #fff;
	transition: all ease 0.2s;
	border: 2px solid rgba(0,0,0,0);
	font-weight: bold;
	outline: none;
}
.main-screen--nav-item a:hover{
	border: 2px solid #fff;
}

.main-screen--email{
	float:right;
	margin-top: 8px;
	padding-bottom: 7px;
	border-bottom: 1px solid #696c68;
	text-decoration: none;
	color: #fff;
}

.main-screen--email:visited{
	color: #aeaeae;
}
h1,h2,h3{
	text-transform: uppercase;
	font-family: Natasha, Arial, sans-serif;
	font-size: 37px;
	letter-spacing: 0.2em;
	color: #22241b;
}
h1{
	text-align: center;
	font-size: 49px;
	margin:290px 0 30px 0;
	color: #fff;
}
.main-screen--subtitle{
	text-align: center;
	font-size: 29px;
	font-family: MuseoSansCyrl, Arial, sans-serif;
	font-weight: lighter;
	color: #fff;
}
.main-screen--button-href{
	margin: 265px auto 0px auto;
	display: block;
	border-radius: 50%;
	background-image: url(../img/offer-arrow.png);
	width: 40px;
	height: 40px;
	
}
.main-screen--button-href:hover{
	background-color: #434343;
	cursor: pointer;
	transition: all ease 0.2s;
}
.about-me--content-block1{
	float: left;
	width: 45%;
}
.about-me--heading{
	padding-top: 85px;
}
.about-me--subtitle{
	font-size: 22px;
	color: #888886;
	margin: 75px 0 45px 0;
	letter-spacing: 0.15em;
}
.about-me--bg-text{
	display: block;
	margin-bottom: 37px;
	color: #22241b;
	font-size: 15px;
	line-height: 1.8em;
}
.about-me--content-block2{
	padding: 0 0 0 50px;
	float:left;
	display: inline-block;
	width: 50%;
} 
 .about-me--content-block3{
 	padding: 0 0 0 50px;
 	float: left;
 }
 .about-me--merit{
 	position: relative;
 	float: left;
 	margin: 0 32px 0 0;
 	
 }
 .about-me--merit-bg{
 	width: 103px;
 	height: 103px;
 }
 .about-me--numbers{
 	position: absolute;
 	top: 41px;
 	left: 43px;
 	text-align: center;
 	font-size: 20px;
 	font-weight: lighter;
 	letter-spacing: 0.1em;
 }
 .numbers-2{
 	 left:44px;
 }
 .numbers-3{
 	left: 45px;
 }
 .about-me--merit-subtitle{
 	margin-top: 25px;
 	font-weight: lighter;
 	text-transform: uppercase;
 	font-size: 12px;
 	text-align: center;
 	letter-spacing: 0.08em;
 	font-family: MuseoSansCyrl, Arial, sans-serif;
 }
 .about-me--communication{
 	float:left;
 	margin-right: 40px;
 }
 .about-me--comm-link{
 	display: block;
 	color: #204d15;
 	font-size: 14px;
 	text-decoration: none;
 	letter-spacing: 0.06em;
 	margin-bottom: 15px;
 }
 .about-me--comm-link:after{
 	content: " ";
 	display: block;
 	height: 1px;
 	background-image: url(../img/comm-line-bg.png);
 	margin: 7px 0 1px 0;
 	background-repeat: no-repeat;
 }
 .about-me--comm-link:hover{
 	color: #22241b;
 }
 .comm-li2{
	width: 102px;
 }
 .comm-li3{
	width: 124px;
 }
 .about-me--comm-img{
 	margin-top: 6px;
 	padding: 19px 23px;
 	border-radius: 50%;
 	background-color: #eef1ed;
 	margin-right: 20px;
 }
 .about-me--not-shy{
 	font-style: italic;
 	font-size: 14px;
 	color: #797a77;
 }
 #skills article{
 	padding: 100px 0 75px 0;
 }
 .skills--heading{
	margin-bottom: 63px;
 }
 .skills--item-skill{
 	position: relative;
	margin-right: 40px;
	float: left;
 }
 .skills--img-bg-item{
 	width: 61px;
 	height: 61px;
 	margin-right: 28px;
 }
 .skills--percents{
 	font-size: 15px;
 	letter-spacing: 0.07em;
 	position: absolute;
 	top: 23px;
 	left: 16px;
 	color: #797a77;
 }
 .skills-num-3{
 	left: 11px;
 }
  .skills-num-4{
 	left: 22px;
 }
 .skills--name-skill{
 	text-transform: uppercase;
 	font-size: 15px;
 	font-weight: bold;
	letter-spacing: 0.15em;
 }
.portfolio--heading{
	margin: 0 0 45px 0;
}
.porfolio--preview{
	width: 300px;
	height: 300px;
}
.portfolio--item{
	position: relative;
	float:left;
	margin-right: 20px;
	margin-top: 20px;
}
.portfolio--overlay{
	position: absolute;
	width: 100%;
    height: 100%;
	background-color: rgba(0,0,0, 0.56);
	z-index: 2;
	top: 0;
	left: 0;
	padding-top: 120px;
	text-align: center;
	color: #fff;
	opacity: 0;
	transition: all ease 0.3s;
}
.portfolio--item-heading{
	font-size: 15px;
	font-family: MuseoSansCyrl, Arial, sans-serif;
	color: #fff;
	letter-spacing: 0.08em;
	margin-bottom: 14px;
}
.portfolio--item-subtitle{
	text-decoration: none;
	color: #fff;
}
.portfolio--item-subtitle:after{
	content: " ";
	display: block;
	height: 1px;
	background-image: url(../img/portf-line.png);
	width: 72px;
	margin: 5px auto;
	
}
.portfolio--item:hover .portfolio--overlay{
	opacity: 1;
}

.footer-wrapper{
	padding: 125px 20px  110px 20px;
	color: #888886;
	font-size: 11px;
}

.cbalink{
	display: none;
}