/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block; }

b,
strong {
  /*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic; }

ol,
ul {
  list-style: none; }

li {
  /*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  /*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden; }

.header__top {
  height: 90px;
  background-color: #1D4F6E; }

.header__wr {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo-care-wr {
  margin-right: 40px; }

.header__bottom {
  background-color: #449732;
  color: #fff; }

.header__account-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 65px; }

.header__logo-gastro-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.header__logo-gastro-header {
  font-weight: 900;
  font-size: 30px;
  margin-right: 25px; }

.header__logo-gastro-text:before {
  height: 30px;
  margin-left: -12px;
  width: 1px;
  content: "";
  background-color: #fff;
  display: block;
  position: absolute;
  top: 3px; }

.header__logo-gastro-text {
  width: 230px;
  font-size: 15px;
  line-height: 0.98;
  font-weight: 100;
  text-transform: uppercase; }

.header__log-in-link {
  font-size: 16px;
  color: #fff;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 100; }

@media screen and (max-width: 670px) {
  .container {
    max-width: 670px; }
  .header__wr {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__account-wr {
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 25px 0; }
  .header__log-in-wr {
    margin-top: 30px; } }

@media screen and (max-width: 480px) {
  .container {
    padding: 0 10px; }
  .header__account-wr {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__log-in-wr {
    display: none; }
  .header__logo-gastro-header {
    font-size: 20px; }
  .header__logo-gastro-text {
    font-size: 12px;
    display: inline-block;
    width: auto; }
  .header__logo-gastro-text:before {
    height: 22.4px; } }
