@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../libs/fonts/MuseoSansCyrl100.eot");
  src: url("../libs/fonts/MuseoSansCyrl100.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/MuseoSansCyrl100.woff") format("woff"), url("../libs/fonts/MuseoSansCyrl100.ttf") format("truetype"), url("../libs/fonts/MuseoSansCyrl100.svg#FontName") format("svg");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../libs/fonts/MuseoSansCyrl300.eot");
  src: url("../libs/fonts/MuseoSansCyrl300.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/MuseoSansCyrl300.woff") format("woff"), url("../libs/fonts/MuseoSansCyrl300.ttf") format("truetype"), url("../libs/fonts/MuseoSansCyrl300.svg#FontName") format("svg");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../libs/fonts/MuseoSansCyrl500.eot");
  src: url("../libs/fonts/MuseoSansCyrl500.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/MuseoSansCyrl500.woff") format("woff"), url("../libs/fonts/MuseoSansCyrl500.ttf") format("truetype"), url("../libs/fonts/MuseoSansCyrl500.svg#FontName") format("svg");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../libs/fonts/MuseoSansCyrl700.eot");
  src: url("../libs/fonts/MuseoSansCyrl700.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/MuseoSansCyrl700.woff") format("woff"), url("../libs/fonts/MuseoSansCyrl700.ttf") format("truetype"), url("../libs/fonts/MuseoSansCyrl700.svg#FontName") format("svg");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../libs/fonts/MuseoSansCyrl900.eot");
  src: url("../libs/fonts/MuseoSansCyrl900.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/MuseoSansCyrl900.woff") format("woff"), url("../libs/fonts/MuseoSansCyrl900.ttf") format("truetype"), url("../libs/fonts/MuseoSansCyrl900.svg#FontName") format("svg");
  font-style: normal;
  font-weight: 500; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.center {
  text-align: center; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  height: 100%; }

/* Styles for popup */
.popup {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(29, 79, 110, 0.5);
  top: 0;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed; }

.popup__content {
  width: 640px;
  padding: 55px 0;
  text-align: center;
  background-color: #fff; }

.popup__title {
  color: #1D4F6E;
  font-weight: 500;
  font-size: 24px; }

.popup__btns {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.popup__accept,
.popup__cancel {
  padding: 20px 45px;
  border: none;
  margin: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer; }

.popup__accept a,
.popup__cancel a {
  font-weight: 500;
  color: #fff;
  text-decoration: none; }

.popup__accept {
  background-color: #449732; }

.popup__cancel {
  background-color: #1D4F6E; }

.popup__instr-content, .popup__expert-content {
  width: 640px;
  padding: 55px 20px;
  background-color: #fff;
  height: 95%;
  overflow-y: auto; }

.popup__btn_close {
  cursor: pointer;
  content: '';
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(../img/test/arrow-back-dark.svg); }

.popup__instr-heading, .popup__expert-heading {
  text-align: center;
  color: #1D4F6E;
  font-size: 32px; }

.popup__instr-subtitle {
  margin-top: 40px;
  font-weight: 600;
  font-size: 24px;
  color: #449732;
  text-align: center; }

.popup__instr-carousel-wr {
  margin-top: 30px;
  padding: 22px;
  border: 2px solid #1D4F6E; }

.popup__carousel-text {
  margin-top: 25px; }

.popup__carousel-text:nth-child(1) {
  margin-top: 0; }

.popup__carousel-color {
  color: #449732; }

.popup__expert-content {
  display: none;
  height: auto; }

.popup-expert-img {
  display: block;
  margin: 35px auto; }

.popup-expert-text:before {
  display: block;
  content: "";
  width: 152px;
  height: 3px;
  background-color: #449732;
  margin-bottom: 25px; }

.popup-expert-text {
  color: #1D4F6E;
  font-size: 24px;
  position: relative; }

.popup-expert-text:after {
  display: block;
  content: "";
  width: 152px;
  height: 3px;
  background-color: #449732;
  margin-top: 25px;
  position: absolute;
  right: 0; }

body {
  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.02em;
  min-height: 100%; }

.main .container {
  padding-right: 0;
  width: 100%;
  max-width: none; }

.main__left-part {
  float: left;
  padding: 40px 0 60px 0;
  width: 630px; }

.main__heading-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main__heading {
  font-weight: 500;
  font-size: 52px;
  color: #1D4F6E; }

.main__levels-link {
  visibility: hidden;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1D4F6E;
  text-decoration: none; }

.main__slider-nav {
  margin-top: 45px; }

.main__slider-link {
  color: rgba(29, 79, 110, 0.5);
  text-decoration: none;
  margin-right: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.main__slider-link-active {
  color: #1D4F6E; }

.main__slider {
  margin-top: 30px; }

.main__list {
  position: relative; }

.main__item:before {
  height: 17px;
  width: 16px;
  content: "";
  display: block;
  background-image: url(../img/main/main__item.svg);
  background-repeat: no-repeat;
  margin-left: -50px;
  margin-top: 8px;
  position: absolute; }

.main__item {
  line-height: 28px;
  padding-left: 50px; }

.main__help .main__item:nth-child(1) {
  margin-top: 0; }

.main__help .main__item {
  margin-top: 30px; }

.main__item-help {
  float: left;
  margin-right: 10px;
  font-weight: 700;
  color: #1D4F6E; }

.main__right-part {
  float: right;
  height: 750px;
  background-image: url(../img/main/main-right-bg.png);
  width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* Owl dots */
.owl-dots button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent !important;
  border: 1px solid #1D4F6E !important;
  margin-right: 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.owl-dots button.active {
  background: #1D4F6E !important; }

/* End of dots */
.main__button-next {
  margin-top: 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #449732;
  background: transparent;
  border: 2px solid #449732;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  cursor: pointer;
  padding: 15px 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main__button-next:hover {
  color: #36622C;
  border-color: #36622C; }

/* Styles for #container_mobile */
.wrapper_mobile {
  background-image: url(../img/main/main-right-bg.png);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 130px;
  padding: 0 20px; }
