/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block; }

b,
strong {
  /*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic; }

ol,
ul {
  list-style: none; }

li {
  /*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  /*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden; }

@font-face {
  font-family: 'Gilroy';
  src: url("../libs/fonts/Gilroy-Black.eot");
  src: url("../libs/fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/Gilroy-Black.woff") format("woff"), url("../libs/fonts/Gilroy-Black.ttf") format("truetype"), url("../libs/fonts/Gilroy-Black.svg#Gilroy") format("svg");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../libs/fonts/Gilroy-ExtraBold.eot");
  src: url("../libs/fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/Gilroy-ExtraBold.woff") format("woff"), url("../libs/fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../libs/fonts/Gilroy-ExtraBold.svg#Gilroy") format("svg");
  font-style: normal;
  font-weight: 800; }

@font-face {
  font-family: 'Gilroy';
  src: url("../libs/fonts/Gilroy-Heavy.eot");
  src: url("../libs/fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/Gilroy-Heavy.woff") format("woff"), url("../libs/fonts/Gilroy-Heavy.ttf") format("truetype"), url("../libs/fonts/Gilroy-Heavy.svg#Gilroy") format("svg");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'Gilroy';
  src: url("../libs/fonts/Gilroy-Light.eot");
  src: url("../libs/fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/Gilroy-Light.woff") format("woff"), url("../libs/fonts/Gilroy-Light.ttf") format("truetype"), url("../libs/fonts/Gilroy-Light.svg#Gilroy") format("svg");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Gilroy';
  src: url("../libs/fonts/Gilroy-Regular.eot");
  src: url("../libs/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/Gilroy-Regular.woff") format("woff"), url("../libs/fonts/Gilroy-Regular.ttf") format("truetype"), url("../libs/fonts/Gilroy-Regular.svg#Gilroy") format("svg");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Gilroy';
  src: url("../libs/fonts/Gilroy-SemiBold.eot");
  src: url("../libs/fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/Gilroy-SemiBold.woff") format("woff"), url("../libs/fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../libs/fonts/Gilroy-SemiBold.svg#Gilroy") format("svg");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'Gilroy';
  src: url("../libs/fonts/Gilroy-Thin.eot");
  src: url("../libs/fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/Gilroy-Thin.woff") format("woff"), url("../libs/fonts/Gilroy-Thin.ttf") format("truetype"), url("../libs/fonts/Gilroy-Thin.svg#Gilroy") format("svg");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: 'Gilroy';
  src: url("../libs/fonts/Gilroy-UltraLight.eot");
  src: url("../libs/fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/Gilroy-UltraLight.woff") format("woff"), url("../libs/fonts/Gilroy-UltraLight.ttf") format("truetype"), url("../libs/fonts/Gilroy-UltraLight.svg#Gilroy") format("svg");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'pfdintextcondpro';
  src: url("../libs/fonts/pfdintextcondpro-bold.eot");
  src: url("../libs/fonts/pfdintextcondpro-bold.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/pfdintextcondpro-bold.woff") format("woff"), url("../libs/fonts/pfdintextcondpro-bold.ttf") format("truetype"), url("../libs/fonts/pfdintextcondpro-bold.svg#pfdintextcondpro") format("svg");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'pfdintextcondpro';
  src: url("../libs/fonts/pfdintextcondpro-medium.eot");
  src: url("../libs/fonts/pfdintextcondpro-medium.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/pfdintextcondpro-medium.woff") format("woff"), url("../libs/fonts/pfdintextcondpro-medium.ttf") format("truetype"), url("../libs/fonts/pfdintextcondpro-medium.svg#pfdintextcondpro") format("svg");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'pfdintextcondpro';
  src: url("../libs/fonts/pfdintextcondpro-light.eot");
  src: url("../libs/fonts/pfdintextcondpro-light.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/pfdintextcondpro-light.woff") format("woff"), url("../libs/fonts/pfdintextcondpro-light.ttf") format("truetype"), url("../libs/fonts/pfdintextcondpro-light.svg#pfdintextcondpro") format("svg");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'pfdintextcondpro';
  src: url("../libs/fonts/pfdintextcondpro-regular.eot");
  src: url("../libs/fonts/pfdintextcondpro-regular.eot?#iefix") format("embedded-opentype"), url("../libs/fonts/pfdintextcondpro-regular.woff") format("woff"), url("../libs/fonts/pfdintextcondpro-regular.ttf") format("truetype"), url("../libs/fonts/pfdintextcondpro-regular.svg#pfdintextcondpro") format("svg");
  font-style: normal;
  font-weight: 400; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.center {
  text-align: center; }

.container {
  max-width: 1180px;
  margin: 0 auto; }

body {
  font-family: Gilroy, sans-serif; }

.header {
  padding: 40px 0 260px 0;
  background-image: url("../img/main-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative; }

.header__wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff; }

.header__logo-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__page-heading:before {
  display: block;
  content: "";
  width: 1px;
  height: 33px;
  background-color: #fff;
  position: absolute;
  margin-left: -30px; }

.header__page-heading {
  font-size: 12px; }

.header__num-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 365px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__num {
  font-size: 17px; }

.header__num-bold {
  font-weight: 700; }

.header__action-bth {
  color: #f7a600;
  border: 3px solid #f7a600;
  padding: 18px 30px;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.header__action-bth:hover {
  color: #fff;
  background-color: #f7a600; }

.content-wr {
  position: relative; }

.main {
  width: 615px;
  color: #fff;
  margin-top: 250px; }

.main__heading {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  font-family: pfdintextcondpro, sans-serif; }

.main__text {
  font-size: 18px;
  margin-top: 35px;
  line-height: 30px; }

.main__form-wr {
  margin-top: 30px;
  display: none; }

.main__input-wrapper:nth-child(1) {
  margin-top: 0; }

.main__input-wrapper {
  margin-top: 10px;
  position: relative; }

.main__form-item {
  display: block;
  width: 100%;
  padding: 22px 25px;
  font-family: Gilroy, sans-serif;
  font-size: 15px;
  background-color: #ebebeb;
  border: none; }

.main__form-icons {
  display: block;
  width: 12px;
  height: 14px;
  position: absolute;
  top: 0;
  right: 20px;
  top: calc(50% - 8px); }

.main__form-btn {
  margin-top: 15px;
  width: 100%;
  padding: 25px 8px;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: #f7a600;
  font-family: Gilroy, sans-serif;
  font-weight: 700; }

.main__action-bth {
  display: inline-block;
  color: #f7a600;
  border: 3px solid #f7a600;
  text-align: center;
  margin-top: 40px;
  padding: 26px 33px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.main__action-bth:hover {
  color: #fff;
  background-color: #f7a600; }

.main__girl-img {
  position: absolute;
  top: calc(50% - 394px);
  width: 879px;
  height: 793px;
  z-index: 0;
  right: -134px; }

.main__social {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main__social-link {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin: 0 3.5px;
  border-radius: 50%;
  position: relative;
  cursor: pointer; }

.main__social-link:nth-child(2) {
  background-color: #2962a2;
  margin-left: 7px; }

.main__social-link:nth-child(3) {
  background-color: #294ea2; }

.main__social-link:nth-child(4) {
  background-color: #ad2e31; }

.main__social-link object,
.main__social-link img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer; }

.main__social-link object {
  pointer-events: none; }

.main__tour-wr {
  position: absolute;
  right: 1vw;
  top: 50%; }

.main__tour-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main__tour-img {
  height: 20px;
  width: 26px;
  margin-top: 100px; }

.main__tour-text {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.equip {
  padding-bottom: 180px;
  background-color: #fff;
  background-image: url("../img/equip-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.equip .container {
  max-width: 1350px; }

.equip__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.equip__content {
  margin-top: 180px;
  width: 820px; }

.equip__heading:before {
  height: 5px;
  width: 37px;
  display: block;
  content: "";
  background-color: #f7a600;
  margin-bottom: 25px; }

.equip__heading {
  color: #000;
  font-weight: 700;
  font-family: pfdintextcondpro, sans-serif;
  font-size: 40px;
  text-transform: uppercase; }

.equip__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 460px; }

.equip__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 45%; }

.equip__item-img {
  margin-right: 15px; }

.equip__item-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; }

.equip__item-text {
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px; }

.equip__banner-wr {
  margin-top: 70px;
  padding: 21px;
  background-image: url("../img/equip-baner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%; }

.equip__banner-content {
  border: 1px solid #c2c0bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px; }

.equip__banner-text {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 800; }

.equip__banner-link {
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  padding: 22px 50px;
  background-color: #f7a600;
  text-decoration: none; }

.tour {
  padding-bottom: 150px;
  position: relative; }

.tour__main {
  padding-top: 190px; }

.tour__heading:before {
  display: block;
  content: "";
  width: 37px;
  height: 6px;
  background-color: #f7a600;
  margin-bottom: 25px; }

.tour__heading {
  font-weight: 700;
  font-family: pfdintextcondpro, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  max-width: 480px; }

.tour__list-wr {
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.tour__list {
  margin-top: 25px;
  max-width: 670px; }

.tour__item {
  font-size: 18px;
  padding-top: 30px; }

.tour__item img {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  margin-bottom: 3px; }

.tour__form {
  margin-top: 22px; }

.tour__input-wr {
  display: inline-block;
  margin-top: 10px;
  position: relative;
  margin-right: 12px; }

.tour__input {
  width: 100%;
  padding: 22px 25px;
  font-family: Gilroy, sans-serif;
  font-size: 15px;
  background-color: #ebebeb;
  border: none; }

.tour__form-icons {
  display: block;
  width: 12px;
  height: 14px;
  position: absolute;
  top: 0;
  right: 20px;
  top: calc(50% - 8px); }

.tour__form-btn-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 22px; }

.tour__main-btn {
  border: none;
  background-color: #f7a600;
  color: #fff;
  padding: 20px 62px;
  font-size: 18px;
  border: none;
  font-family: Gilroy, sans-serif;
  font-weight: 800;
  max-width: 225px;
  margin-right: 20px; }

.tour__agreement {
  max-width: 315px;
  font-size: 12px;
  line-height: 17px; }

.tour__agreement-link {
  color: #000; }

.tour__img-wr {
  position: absolute;
  bottom: 0;
  right: 17vw; }

.tour__img {
  width: 100%; }

.trainers {
  padding: 155px 0 90px 0;
  background-image: url("../img/trainers-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff; }

.trainers__heading:before {
  width: 37px;
  height: 5px;
  content: "";
  display: block;
  background-color: #f7a600;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -25px; }

.trainers__heading {
  text-align: center;
  font-size: 40px;
  font-family: pfdintextcondpro, sans-serif;
  font-weight: 700;
  position: relative;
  text-transform: uppercase; }

.trainers__slider {
  margin-top: 90px; }

.trainers__slide-item {
  width: 230px;
  text-align: center;
  margin: 0 100px; }

.trainers__portret {
  display: block;
  margin: 0 auto; }

.trainers__name {
  margin-top: 38px;
  font-size: 18px;
  font-weight: 600; }

.trainers__job {
  display: block;
  margin-top: 15px;
  font-size: 15px; }

.trainers__experience {
  display: block;
  margin-top: 0px;
  font-size: 16px; }

.experience-bold {
  font-weight: 600; }

.trainers__btn {
  margin: 27px auto 0 auto;
  display: block;
  width: 227px;
  padding: 18px 0;
  color: #f7a600;
  border: 2px solid #f7a600;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.trainers__btn:hover {
  color: #fff;
  background-color: #f7a600; }

.trainers__write {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  color: #f7a600;
  text-decoration: none;
  border-bottom: 1px dashed #f7a600;
  margin-top: 27px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.trainers__write:hover {
  color: #f7cd00; }

.slick-list {
  margin: 0 auto; }

.slick-arrow {
  position: absolute;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  width: 60px;
  height: 60px;
  color: #5b5b5b;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.slick-prev:hover {
  background-color: #f7a600;
  -webkit-box-shadow: 0px 7px 16px rgba(255, 109, 100, 0.25);
  box-shadow: 0px 7px 16px rgba(255, 109, 100, 0.25); }

.slick-next:hover {
  background-color: #f7a600;
  -webkit-box-shadow: 0px -7px 16px rgba(255, 109, 100, 0.25);
  box-shadow: 0px -7px 16px rgba(255, 109, 100, 0.25); }

.slick-prev {
  top: 50%;
  left: -10%; }

.slick-prev span {
  display: block; }

.slick-next {
  top: 50%;
  right: -10%; }

.slick-next span {
  display: block; }

.offer {
  padding: 175px 0 105px 0; }

.offer__heading:before {
  height: 5px;
  width: 37px;
  display: block;
  content: "";
  background-color: #f7a600;
  margin-bottom: 25px; }

.offer__heading {
  font-size: 40px;
  text-transform: uppercase;
  font-family: pfdintextcondpro,sans-serif;
  font-weight: 700; }

.offer__subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px; }

.offer__quest {
  font-weight: 600;
  font-size: 21px;
  margin-top: 30px; }

.offer__list {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.offer__item {
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  -webkit-tap-highlight-color: transparent; }

.offer__text {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 600; }

.offer__btn-wr {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.offer__btn {
  display: block;
  font-weight: 800;
  font-size: 18px;
  color: #fff;
  background-color: #f7a600;
  padding: 22px 47px;
  text-decoration: none; }

.offer__step {
  font-size: 18px;
  font-weight: 300;
  margin-left: 22px; }

.offer__active:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/offer/icon-selected.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 116px;
  top: -8px;
  z-index: 1; }

.offer__active .offer__img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%); }

.solutions {
  padding: 135px 0 105px 0;
  background-image: url("../img/solutions/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.solutions:after {
  content: "";
  display: block;
  position: absolute;
  width: 78px;
  height: 616px;
  background-image: url("../img/solutions/bg-rect.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.solutions__heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: pfdintextcondpro, sans-serif;
  text-transform: uppercase;
  color: #fff;
  position: relative; }

.solutions__heading:before {
  height: 5px;
  width: 37px;
  display: block;
  content: "";
  background-color: #f7a600;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px; }

.solutions__cards {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.solution__card {
  background-color: #fff; }

.solutions__card-container {
  padding: 50px 45px; }

.solutions__card-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: pfdintextcondpro, sans-serif; }

.solutions__item {
  font-size: 14px;
  margin-top: 23px; }

.solutions__icon {
  width: 13px;
  height: 13px;
  margin-right: 5px; }

.solutions__price {
  font-size: 22px;
  font-weight: 800;
  color: #f7a600;
  margin-top: 30px;
  display: block; }

.solutions__main-btn {
  text-align: center;
  margin-top: 26px;
  display: block;
  width: 100%;
  padding: 20px 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  border: 2px solid #f7a600;
  color: #f7a600;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.solutions__main-btn:hover {
  color: #fff;
  background-color: #f7a600; }

.reviews {
  padding: 120px 0 75px 0; }

.reviews__wr {
  position: relative; }

.reviews__heading:before {
  height: 5px;
  width: 37px;
  display: block;
  content: "";
  background-color: #f7a600;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px; }

.reviews__heading {
  font-size: 40px;
  font-family: pfdintextcondpro, sans-serif;
  text-align: center;
  text-transform: uppercase;
  position: relative; }

.reviews__slider {
  margin: 80px auto 0 auto;
  width: 100%;
  text-align: center;
  max-width: 920px; }

.reviews__slide {
  width: 100%; }

.reviews__slide-heading {
  width: 100%;
  margin-top: 50px;
  font-size: 22px;
  font-weight: 700;
  font-family: pfdintextcondpro, sans-serif;
  text-transform: uppercase; }

.reviews__slide-text {
  width: 100%;
  display: block;
  max-width: 500px;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  margin: 30px auto 0 auto; }

.reviews__slide-img {
  width: 100%; }

.slide-content__hidden {
  display: none; }

.reviews__left-info {
  left: 0;
  -webkit-transform: translateY(135px) translateX(-24px);
  -ms-transform: translateY(135px) translateX(-24px);
  transform: translateY(135px) translateX(-24px); }

.reviews__right-info {
  right: 0;
  -webkit-transform: translateY(135px) translateX(24px);
  -ms-transform: translateY(135px) translateX(24px);
  transform: translateY(135px) translateX(24px); }

.reviews__left-info,
.reviews__right-info {
  width: 150px;
  position: absolute;
  top: 320px; }

.reviews__info-name {
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-align: center;
  margin-top: 40px; }

.reviews__info-date {
  font-size: 12px;
  font-weight: 300;
  display: block;
  text-align: center;
  margin-top: 15px; }

.reviews__slider .slick-arrow {
  top: 205px; }

.reviews__slider .slick-prev {
  left: -109px; }

.reviews__slider .slick-next {
  right: -109px; }

.reviews__info-wr .slick-arrow {
  display: none; }

.reviews__main-btn {
  text-align: center;
  display: block;
  color: #fff;
  background-color: #f7a600;
  margin: 40px auto 0 auto;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  max-width: 235px; }

.contacts {
  padding: 350px 0 300px 0;
  background-image: url("../img/contacts-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 18px; }

.contacts__wr {
  max-width: 440px; }

.contacts__heading:before {
  height: 5px;
  width: 37px;
  display: block;
  content: "";
  background-color: #f7a600;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px; }

.contacts__heading {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: pfdintextcondpro, sans-serif; }

.contacts__adress {
  font-weight: 300;
  margin-top: 30px;
  display: block; }

.contacts__time {
  font-weight: 600;
  margin-top: 20px;
  display: block; }

.contacts__time-text {
  display: block;
  margin-top: 5px; }

.contacts__phone {
  font-size: 28px;
  margin-top: 30px;
  display: block; }

.contacts__extrabold {
  font-weight: 600; }

.contacts__main-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
  background-color: #f7a600;
  padding: 23px 40px;
  margin-top: 40px;
  color: #fff; }

.footer__wr {
  padding: 65px 0;
  color: #29234e; }

.footer__wr, .footer__logo-wr, .footer__social, .footer__num-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo__text:before {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 33px;
  background-color: #29234e;
  margin-left: -30px;
  margin-top: 5px; }

.logo__text {
  position: relative;
  font-size: 12px;
  line-height: 20px;
  margin-left: 53px; }

.footer__social-text {
  font-size: 18px; }

.footer__social-link {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin: 0 3.5px;
  border-radius: 50%;
  position: relative;
  cursor: pointer; }

.footer__social-link:nth-child(2) {
  background-color: #2962a2;
  margin-left: 7px; }

.footer__social-link:nth-child(3) {
  background-color: #294ea2; }

.footer__social-link:nth-child(4) {
  background-color: #ad2e31; }

.footer__social-link object,
.footer__social-link img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer; }

.footer__social-link object {
  pointer-events: none; }

.footer__number {
  display: block;
  font-size: 17px;
  font-weight: 300;
  margin-right: 15px; }

.font-600 {
  font-weight: 600; }

.footer__btn {
  display: block;
  text-decoration: none;
  font-weight: 800;
  background-color: #f7a600;
  padding: 23px 40px;
  color: #fff;
  font-size: 18px; }

.social__hidden {
  display: none; }

.popup {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(22, 19, 43, 0.9);
  top: 0;
  left: 0;
  cursor: pointer; }

.popup__container {
  width: 350px;
  padding: 50px 55px 40px 55px;
  left: 0;
  right: 0;
  max-height: 545px;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  background-color: #fff;
  margin: auto;
  position: absolute;
  cursor: default; }

.popup__heading {
  font-size: 20px;
  font-weight: 700;
  font-family: pfdintextcondpro, sans-serif;
  line-height: 31px;
  text-transform: uppercase; }

.popup__form {
  margin-top: 30px;
  width: 100%; }

.popup__input-wr {
  position: relative;
  margin-top: 10px; }

.popup__input {
  font-family: Gilroy,sans-serif;
  width: 100%;
  padding: 21px 23px;
  font-size: 15px;
  border: none;
  background-color: #ebebeb;
  color: #8f99a3; }

.popup__input::-webkit-input-placeholder {
  color: #8f99a3; }

.popup__input:-ms-input-placeholder {
  color: #8f99a3; }

.popup__input::-ms-input-placeholder {
  color: #8f99a3; }

.popup__input::placeholder {
  color: #8f99a3; }

.popup__form-icons {
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-6.5px);
  -ms-transform: translateY(-6.5px);
  transform: translateY(-6.5px);
  right: 22px; }

.popup__agreement {
  display: block;
  text-align: center;
  margin-top: 25px;
  font-size: 12px;
  line-height: 17px; }

.popup__agreement-link {
  color: #000; }

.popup__btn {
  width: 100%;
  color: #fff;
  border: none;
  background-color: #f7a600;
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  font-weight: 800;
  padding: 20px 0;
  margin-top: 20px; }

.popup__close {
  display: block;
  position: absolute;
  right: 15px;
  top: 22px;
  opacity: 0.25;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.popup__close:hover {
  opacity: 0.7; }

.popup-text-field {
  font-family: Gilroy,sans-serif; }
