@media screen and (max-width: 992px) {
	.container{
		width: 100%;
		padding: 0 15px;
	}
}
@media screen and (max-width: 766px){

	.card__img-wr{
		background-size: contain;
		background-repeat: no-repeat;
		max-height: 350px;
	}

	.card__heading{
		margin-top: 25px;
	}

	.card__title{
		font-size: 18px;
		margin-top: 30px;
	}

	.card__desc{
		margin-top: 25px;
		font-size: 14px;
   		line-height: 1.4;
	}

	.card__pros-wr{
		margin-top: 25px;
	}

	.subtitle {
		font-size: 18px;
    	line-height: 1.7;
	}

	.card__table{
		font-size: 14px;
		line-height: 1.4;
		width: 400px;
	}

	.card__cell:nth-child(even){
		font-size: 13px;
		line-height: 1.8;
	}
}

@media screen and (max-width: 480px){
	.card__img-wr{
		height: 100px;
		background-size: contain;
	}

	.card__heading{
		font-size: 25px;
		line-height: 1.6;
	}

	.card__title{
		line-height: 1.8;
	}

	.card__desc{
		margin-top: 20px;
		font-size: 12px;
    	line-height: 1.4;
	}
	
	.card__table{
		width: 100%;
		font-size: 12px;
	}
}