/* Styles for popup */

.popup{
	z-index: 99;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(29,79,110, .5);
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	position:fixed;
}

.popup__content{
	width: 640px;
	padding: 55px 0;
	text-align: center;
	background-color: #fff;
}

.popup__title{
	color: #1D4F6E;
	font-weight: 500;
	font-size: 24px;
}

.popup__btns{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.popup__accept,
.popup__cancel{
	padding: 20px 45px;
	border: none;
	margin: 10px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
}

.popup__accept a,
.popup__cancel a{
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.popup__accept{
	background-color: #449732;
}

.popup__cancel{
	background-color: #1D4F6E;
}

.popup__instr-content, .popup__expert-content{
	width: 640px;
	padding: 55px 20px;
	background-color: #fff;
	height: 95%;
    overflow-y: auto;
}

.popup__btn_close{
	cursor: pointer;
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../img/test/arrow-back-dark.svg);
}

.popup__instr-heading, .popup__expert-heading{
	text-align: center;
	color: #1D4F6E;
	font-size: 32px;
}

.popup__instr-subtitle{
	margin-top: 40px;
	font-weight: 600;
	font-size: 24px;
	color: #449732;
	text-align: center;
}

.popup__instr-carousel-wr{
	margin-top: 30px;
	padding: 22px;
	border: 2px solid #1D4F6E;
}

.popup__carousel-text{
	margin-top: 25px;
}

.popup__carousel-text:nth-child(1){
	margin-top: 0;
}

.popup__carousel-color{
	color: #449732;
}

.popup__expert-content{
	display: none;
	height: auto;
}

.popup-expert-img{
	display: block;
	margin: 35px auto;
}

.popup-expert-text:before{
	display: block;
	content: "";
	width: 152px;
	height: 3px;
	background-color: #449732;
	margin-bottom: 25px;

}

.popup-expert-text{
	color: #1D4F6E;
	font-size: 24px;
	position: relative;
}

.popup-expert-text:after{
	display: block;
	content: "";
	width: 152px;
	height: 3px;
	background-color: #449732;
	margin-top: 25px;
	position: absolute;
	right: 0;

}