@import '__reset';
@import '__font';
@import '__libs';
@import '__popup';

body{
	font-family: "MuseoSansCyrl", sans-serif;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: -0.02em;
	min-height: 100%;
	letter-spacing: -0.02em;
}

header{
	color: #fff;
}

.hidden-content{
	display: none;
}

.page-wrapper{
	display: flex;
	//justify-content: center;
}

.header{
	height: 900px;
	background-image: url(../img/test/header-bg.jpg);
	background-size: cover;
	background-position: center;
	width: 565px;
	padding-top: 50px;
	position: relative;
}

.header__top{
	display: flex;
	justify-content: space-around;
}

.header__arrow-back-link{
	width: 32px;
	height: 32px;
	display: block;
	background-image: url(../img/test/arrow-back.svg);
}

.header__logo-gastro-wr{
	display: flex;
	align-items: center;
	position: relative;
}

.header__logo-gastro-header{
	font-weight: 900;
	font-size: 30px;
	margin-right: 25px;
}

.header__logo-gastro-text:before{
	height: 30px;
	margin-left: -12px;
	width: 1px;
	content: "";
	background-color: #fff;
	display: block;
	position: absolute;
	top: 3px;
}

.header__logo-gastro-text{
	width: 230px;
	font-size: 15px;
	line-height: 0.98;
	font-weight: 100;
	text-transform: uppercase;
}

.header__middle{
	margin: 260px auto auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 320px;
}

.header__quiz-top{
	display: flex;
	align-items: center;
	width: 100%;
}

.header__quiz-text{
	font-weight: 600;
	font-size: 34px;
	line-height: 53px;
}

.header__quiz-text span{
	font-size: 52px;
	line-height: 41px;
}

.header__quiz-pic{
	margin: 0 5px;
}

.header__quiz{
	width: 100%;
	font-weight: 600;
	font-size: 52px;
}

.header__rules{
	width: 100%;
	margin-top: 30px;
}

.header__rules-link{
	font-weight: 600;
	font-size: 24px;
	text-decoration: underline;
	color: #fff;
}

.header__footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.header__footer-top{
	background: rgba(68, 151, 50, 0.8);
}

.header__quiz-footer{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	padding: 15px;
}

.header__footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	background-color: rgba(29, 79, 110, 0.8);
}

.header__logo-acare{
	margin-right: 30px;
}

.header__copyright{
	font-size: 12px;
	line-height: 150%;
	text-align: right;
	color: rgba(255, 255, 255, 0.3);
}

.main{
	width: 1000px;
}

.main__container{
	padding: 40px 80px 80px 80px;
	width: 100%;
}

.main__help {
	display: flex;
	justify-content: space-between;
}

.main__help a{
	padding: 10px 13px;
	border: 2px solid #449732;
	border-radius: 40px;
	color: $blue;
	font-size: 14px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main__help img{
	width: 24px;
	height: 24px;
	margin-right: 10px;
	
}

.main__middle{
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-top: 80px;
}

.main__num-quest{
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #449732;
}

.main__timer{
	font-weight: 600;
	font-size: 40px;
	line-height: 36px;
	color: #1D4F6E;
}

.main__score-link{
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #449732;
	text-decoration: none;
}

.main__score-link span{
	text-decoration: underline;
}

.main__score-num{
	font-size: 24px;
	line-height: 29px;
	text-decoration: none !important;
}

.main__quiz{
	margin-top: 20px;
}

.main__heading{
	font-weight: 600;
	font-size: 32px;
	color: #292929;
}

.main__list{
	margin-top: 35px;
}

.main__list-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	padding: 20px 80px 20px 30px;
	background: #F7F7F7;
	border-radius: 30px;
	cursor: pointer;
	position: relative;
	transition: .3s;
}

.main__list-alph{
	font-size: 18px;
	line-height: 22px;
	color: #1D4F6E;
	margin-right: 20px;
	
}

.main__list-item span:nth-child(2) {
	width: 95%;
	display: inline-block;
}

.main__list-item-true .main__list-alph,
.main__list-item-false .main__list-alph{
	color: rgba(255, 255, 255, 0.6);;
}

.main__list-item:after{
	display: block;
	content: "";
	width: 24px;
	height: 24px;
	background-image: url(../img/test/check.svg);
	visibility: hidden;
}

.main__list-item-true:after,
.main__list-item-false:after{
	visibility: visible;
}

.main__list-item-true{
	background-color: #449732;
	color: #fff;
}

.main__list-item-false{
	background-color: #C80A0A;
	color: #fff;
}


/* Owl dots */
.owl-dots{
	display: block !important;
}

.owl-dots button.owl-dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: transparent !important;
	border: 1px solid $blue !important;
	margin-right: 12px;
	transition: .3s;
}

.owl-dots button.active{
	background: $blue !important;
}