@font-face {
	font-family: "FivoSans";
	src: url("../libs/fonts/FivoSans-Regular.eot?") format("eot"),
	url("../libs/fonts/FivoSans-Regular.woff2") format("woff2"),
	url("../libs/fonts/FivoSans-Regular.woff") format("woff"),
	url("../libs/fonts/FivoSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "FivoSans";
	src: url("../libs/fonts/FivoSans-Oblique.eot?") format("eot"),
	url("../libs/fonts/FivoSans-Oblique.woff2") format("woff2"),
	url("../libs/fonts/FivoSans-Oblique.woff") format("woff"),
	url("../libs/fonts/FivoSans-Oblique.ttf") format("truetype");
	font-weight: 400;
	font-style: oblique;
}
@font-face {
	font-family: "FivoSans";
	src: url("../libs/fonts/FivoSans-Medium.eot?") format("eot"),
	url("../libs/fonts/FivoSans-Medium.woff2") format("woff2"),
	url("../libs/fonts/FivoSans-Medium.woff") format("woff"),
	url("../libs/fonts/FivoSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "FivoSans";
	src: url("../libs/fonts/FivoSans-Light.eot?") format("eot"),
	url("../libs/fonts/FivoSans-Light.woff2") format("woff2"),
	url("../libs/fonts/FivoSans-Light.woff") format("woff"),
	url("../libs/fonts/FivoSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "FivoSans";
	src: url("../libs/fonts/FivoSans-Heavy.eot?") format("eot"),
	url("../libs/fonts/FivoSans-Heavy.woff2") format("woff2"),
	url("../libs/fonts/FivoSans-Heavy.woff") format("woff"),
	url("../libs/fonts/FivoSans-Heavy.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "FivoSans";
	src: url("../libs/fonts/FivoSans-Bold.eot?") format("eot"),
	url("../libs/fonts/FivoSans-Bold.woff2") format("woff2"),
	url("../libs/fonts/FivoSans-Bold.woff") format("woff"),
	url("../libs/fonts/FivoSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}