@font-face {
	font-family: 'Gilroy';
	src: url('../libs/fonts/Gilroy-Bold.eot');
	src: url('../libs/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../libs/fonts/Gilroy-Bold.woff') format('woff'),
		 url('../libs/fonts/Gilroy-Bold.ttf') format('truetype'),
		 url('../libs/fonts/Gilroy-Bold.svg#Gilroy') format('svg');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../libs/fonts/Gilroy-Regular.eot');
	src: url('../libs/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../libs/fonts/Gilroy-Regular.woff') format('woff'),
		 url('../libs/fonts/Gilroy-Regular.ttf') format('truetype'),
		 url('../libs/fonts/Gilroy-Regular.svg#Gilroy') format('svg');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../libs/fonts/Gilroy-SemiBold.eot');
	src: url('../libs/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../libs/fonts/Gilroy-SemiBold.woff') format('woff'),
		 url('../libs/fonts/Gilroy-SemiBold.ttf') format('truetype'),
		 url('../libs/fonts/Gilroy-SemiBold.svg#Gilroy') format('svg');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

