.popup{
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top:0;
	left: 0;
	z-index: 99;
	background-color: rgba(0,0,0,.5);
	cursor: pointer;
}

.popup__wr{
	width: 350px;
	margin: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	background-color: #fff;
	padding:40px 50px 50px 40px;
	max-height: 95vh;
	overflow-y: auto;
	cursor: default;
}

.popup__heading{
	font-size: 18px;
	font-weight: 800;
	line-height: 31px;
	text-transform: uppercase;
}

.popup__form{
	margin-top: 25px;
}

.popup__fild{
	font-family: 'Gilroy', sans-serif;
	border-radius: 30px;
	background-color: #f4f4f4;
	color: #c4bfbf;
	width: 100%;
	border: none;
	padding: 24px 33px;
	font-weight: 800;
	margin-bottom: 20px;
}

.popup__fild::placeholder{
	color: #c4bfbf;
	font-family: 'Gilroy', sans-serif;
}

.popup__form .popup__fild:last-child{
	margin-bottom: 0;
}

.popup__agreement-wr{
	margin-top: 20px;
	display: flex;
	position: relative;
}

.popup__agreement:checked:before{
    background-color: #ff832a;
}

.popup__agreement:before{
	display: block;
	content: '';
	position: relative;
	width: 23px;
    height: 23px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #ff832a;
}

.popup__agreement{
	margin-right: 10px;;
    appearance: none;
    outline: none;
    width: 23px;
    height: 23px;
    border-radius: 5px;
}

.popup__agreement:checked .popup__agreement-icon{
	display: block;
}

.popup__agreement-icon{
	position: absolute;
	top: 8px;
	left: 9px;
	color: #fff;
	display: none;
}

.popup__agree-label{
	font-size: 12px;
	line-height: 17px;
}

.popup__rules{
	color: #000;
}

.popup__btn{
	text-align: center;
	margin-top: 30px;
	width: 250px;
	display: block;
	border: 1px solid #ff832a;
	background-color: #ff832a;
	color: #fff;
	border-radius: 30px;
	padding: 23px 0;
	font-family: "Gilroy", sans-serif;
	font-size: 15px;
	font-weight: 800;
	cursor: pointer;
}

.popup__btn:hover{
	background-color: transparent;
	color: #ff832a;
}

.popup__close{
	position: absolute;
	top: 20px;
	right: 18px;
	font-size: 30px;
	color: #cdcdcd;
	cursor: pointer;
}

.popup__close:hover{
	opacity: 0.8;
}

.popup__quest-fild:nth-child(3),
.popup__review-fild:nth-child(3){
	font-size: 13.3px;
	height: 205px;
	display: inline-block;
	resize: none;
}

.popup__review-file{
	display: none;
}

.popup__review-file-label{
	display: block;
	font-size: 13.3px;
	text-align: center;
}

.popup__review-camera-icon{
	color: #ff832a;
	margin-right: 5px;
}


.change_items {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.change_items .content {
  padding: 0;
}

.change_items a {
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.change_items input {
  width: 50px;
  font-size: 10px;
  text-align: center;
}

.change_items {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: .3s all ease-in-out;
}

.change_items.active {}

.change_items .top {
  width: 110px;
  text-align: center;
  background: #bbbbbb;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  border-radius: 5px 5px 0 0;
}

.change_items .top a {
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  width: 100%;
  margin-bottom: 0;
  text-decoration: none;
}

.change_items .bot {
  position: absolute;
  transition: .3s all ease-in-out;
  background: #bbb;
  padding: 15px 0;
}

.change_items.active .bot {
  position: static;
}

.change_items .bot .content {}

.change_items .bot .colors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.change_items .bot .colors a {
  margin: 0 5px;
  border-radius: 50%;
}

.change_items .bot .type_color {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.change_items .bot .type_color p {
  color: #222931;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.change_items .bot .type_color input {
  width: 200px;
  height: 25px;
  margin-top: 5px;
  font-size: 20px;
}

.change_items .bot .c_border {}

.change_items .bot .c_border p {
  text-align: center;
  color: #222931;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.change_items .bot .c_border input {
  margin: 0 auto;
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 5px;
}