@font-face {
	font-family: "MuseoSansCyrl"; 
	src: url("../libs/fonts/MuseoSansCyrl-100.eot"); 
	src: url("../libs/fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
	url("../libs/fonts/MuseoSansCyrl-100.woff") format("woff"), 
	url("../libs/fonts/MuseoSansCyrl-100.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 100; 
	font-display: swap;
}

@font-face {
	font-family: "MuseoSansCyrl"; 
	src: url("../libs/fonts/MuseoSansCyrl-300.eot"); 
	src: url("../libs/fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
	url("../libs/fonts/MuseoSansCyrl-300.woff") format("woff"), 
	url("../libs/fonts/MuseoSansCyrl-300.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 300; 
	font-display: swap;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('../libs/fonts/MuseoSansCyrl-500.eot');
	src: url('../libs/fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		 url('../libs/fonts/MuseoSansCyrl-500.woff') format('woff'),
		 url('../libs/fonts/MuseoSansCyrl-500.ttf') format('truetype'),
		 url('../libs/fonts/MuseoSansCyrl-500.svg#FontName') format('svg');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('../libs/fonts/MuseoSansCyrl-700.eot');
	src: url('../libs/fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		 url('../libs/fonts/MuseoSansCyrl-700.woff') format('woff'),
		 url('../libs/fonts/MuseoSansCyrl-700.ttf') format('truetype'),
		 url('../libs/fonts/MuseoSansCyrl-700.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MuseoSansCyrl"; 
	src: url("../libs/fonts/MuseoSansCyrl-900.eot"); 
	src: url("../libs/fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
	url("../libs/fonts/MuseoSansCyrl-900.woff") format("woff"), 
	url("../libs/fonts/MuseoSansCyrl-900.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 900; 
	font-display: swap;
}