* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.center {
  text-align: center; }

.container {
  max-width: 960px;
  margin: 0 auto; }

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 20px; }
  .adv__wr {
    padding: 0 60px; }
  .adv__text {
    width: 90%; }
  .adv__arrow {
    -webkit-transform: translateX(-54%);
    -ms-transform: translateX(-54%);
    transform: translateX(-54%);
    top: -15px; } }

@media screen and (max-width: 800px) {
  .adv__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #5e5e5e; }
  .adv__text-wr {
    max-width: none;
    text-align: center; }
  .adv__text {
    width: 100%; }
  .adv__img {
    margin: 30px auto 0 auto;
    -webkit-box-shadow: 0px 5px 20px rgba(88, 146, 166, 0.2);
    box-shadow: 0px 5px 20px rgba(88, 146, 166, 0.2); }
  .adv__arrow {
    display: none; } }

@media screen and (max-width: 700px) {
  .main__wr {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .main__heading {
    width: 100%;
    text-align: center;
    font-size: 34px;
    line-height: 45px; }
  .main__text {
    width: 100%;
    text-align: center;
    font-size: 24px; }
  .main__form-wr {
    margin: 40px auto 0 auto; }
  .adv__heading {
    font-size: 30px;
    margin-bottom: 0; }
  .adv__box {
    padding-top: 0;
    margin-top: 0; }
  .adv__text {
    font-size: 16px;
    line-height: 26px; }
  .adv__box-heading {
    font-size: 24px; }
  .adv__img {
    width: 60%;
    display: block; }
  .sale__wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .sale__price-wr {
    margin-right: 0; }
  .sale__arrow {
    display: none; }
  .sale__content {
    margin-top: 40px; }
  .stats__item {
    padding-top: 28px; }
  .stats__num {
    font-size: 34px; }
  .stats__text {
    font-size: 13px;
    margin-top: 0; }
  .cert__heading {
    font-size: 30px; }
  .cert__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 40px;
    text-align: center; }
  .cert__box {
    max-width: none;
    width: 75%; }
  .cert__subtitle-wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .cert__subtitle-wr i.fas {
    margin-right: 0;
    font-size: 30px; }
  .cert__subtitle {
    margin-top: 10px; }
  .cert__paragraph {
    font-size: 16px;
    line-height: 26px; }
  .cert__img {
    margin-top: 40px; } }

@media screen and (max-width: 500px) {
  .main {
    padding-top: 50px; }
  .header__num-wr {
    font-size: 18px; }
  .header__callback {
    font-size: 13px;
    margin-top: 10px; }
  .main__heading {
    font-size: 21px;
    line-height: 30px; }
  .main__text {
    font-size: 16px; }
  .advantages {
    padding-bottom: 60px; }
  .adv__wr {
    padding: 0; }
  .adv__heading {
    font-size: 21px; }
  .adv__box:last-child {
    border-bottom: none; }
  .adv__box-heading {
    font-size: 18px;
    margin-top: 20px;
    line-height: 30px; }
  .adv__text {
    margin-top: 10px; }
  .sale {
    padding-top: 50px; }
  .sale__heading {
    font-size: 40px; }
  .sale__heading-small {
    font-size: 21px; }
  .sale__present {
    font-size: 21px;
    line-height: normal; }
  .stats {
    padding: 30px 0 50px 0; }
  .stats__wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .stats__item {
    margin-top: 30px; }
  .stats__text {
    font-size: 14px;
    margin-top: 40px; }
  .cert__box {
    width: 100%;
    max-width: 90vw; }
  .cert__heading {
    font-size: 21px; }
  .cert__subtitle {
    font-size: 18px; } }
