@media screen and (max-width: 1500px) {
  .main__text-right {
    display: none; } }

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px; }
  .main__nav {
    display: none; }
  .main__mmu-btn {
    display: block; }
  .main__content {
    margin-top: 150px; }
  .main__picture-wr {
    display: none; }
  .main__adv {
    max-width: 95vw; }
  .main__nav-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%; } }

@media screen and (max-width: 1100px) {
  .cost__main-img {
    display: none; }
  .cost__wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: flex-center;
    -ms-flex-align: flex-center;
    align-items: flex-center; }
  .cost__form-wr {
    margin-top: 40px; } }

@media screen and (max-width: 1000px) {
  .adv__item-1,
  .adv__item-2,
  .adv__item-3 {
    max-width: 30%; }
  .reviews__slide-right {
    width: 50%;
    margin: auto;
    margin-top: 40px;
    float: none; }
  .twentytwenty-wrapper {
    width: auto; }
  .twentytwenty-wrapper, .reviews__slide-left {
    float: none;
    margin: auto; } }

@media screen and (max-width: 1100px) {
  .footer__vektus-wr {
    margin-top: 35px; } }

@media screen and (max-width: 870px) {
  .mmu__wr {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .mmu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .mmu-item {
    margin-right: 0; }
  .mmu-link {
    color: #010101; }
  .main__logo-text-active {
    color: #010101; }
  .main__logo-text-active:before {
    background-color: #010101; }
  .hamburger.is-active.active-mmu .hamburger-inner,
  .hamburger.is-active.active-mmu .hamburger-inner:after,
  .hamburger.is-active.active-mmu .hamburger-inner:before {
    background-color: #010101; } }

@media screen and (max-width: 765px) {
  .main__logo-text {
    max-width: 165px;
    width: auto; }
  .main__logo-text:before {
    top: -1px; }
  .main__adv {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main__adv {
    max-width: calc(100% - 40px);
    bottom: -367px; }
  .main__adv-item {
    width: 50%; }
  .main__adv-item:nth-child(even) {
    width: 50%;
    background-color: transparent; }
  .adv {
    padding-top: 550px; }
  .adv__box {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .reviews__slide-right {
    width: 80%;
    max-width: none; }
  .slick-arrow {
    display: none; }
  .steps__row .steps__column:nth-child(2) {
    width: 50%; }
  .steps__picture {
    width: 100%; }
  .steps__row .steps__column:first-child {
    margin-right: 30px;
    max-width: 50%; }
  .steps__row:nth-child(even) .steps__column:first-child {
    margin-left: 30px; }
  .footer__wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .footer__logo-text {
    font-size: 12px; }
  .footer__tel {
    text-align: center;
    margin-top: 45px; }
  .footer__social-wr {
    margin-top: 30px;
    display: block;
    text-align: center; }
  .footer__social-icons-wr {
    margin-top: 12px; } }

@media screen and (max-width: 520px) {
  .main__wr {
    padding-top: 180px;
    padding-bottom: 310px; }
  .main__header-wr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .main__logo-wr {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-top: 35px; }
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    height: 2px;
    width: 24px; }
  .hamburger-inner:before {
    top: -7px; }
  .hamburger-inner:after {
    bottom: -7px; }
  header.fix {
    padding: 15px 0; }
  header.fix .main__logo-wr {
    display: none; }
  header.fix .main__header-phone {
    display: none; }
  header.fix .main__logo-mobile {
    display: block; }
  .menu-active + .container .main__header-wr .main__logo-wr {
    display: none; }
  .main__logo {
    width: 140px; }
  .main__logo-text {
    position: static;
    font-size: 11.5px;
    max-width: 100px; }
  .main__logo-text:before {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 58px; }
  .main__nav-wr {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main__content {
    margin-top: 120px; }
  .main__heading {
    font-size: 23.7px;
    line-height: 31px; }
  .main__desc {
    font-size: 18px;
    line-height: 26px; }
  .main__btn {
    margin-top: 40px;
    width: 100%; }
  .main__adv {
    max-width: calc(100% - 40px);
    bottom: -73%; }
  .main__adv-item {
    width: 100%;
    padding: 30px 50px 0 50px; }
  .main__adv-item:first-child {
    padding-top: 45px; }
  .main__adv-item:last-child {
    padding-bottom: 60px; }
  .main__adv-item:nth-child(even) {
    width: 100%; }
  .adv {
    padding-top: 765px;
    padding-bottom: 55px; }
  .adv__heading {
    font-size: 22px; }
  .adv__desc {
    font-size: 14px;
    line-height: 28px; }
  .adv__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 100px; }
  .adv__item-1, .adv__item-2, .adv__item-3 {
    max-width: none;
    width: 100%; }
  .adv__item-1 .adv__item-desc, .adv__item-3 .adv__item-desc {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .adv__item:first-child {
    margin-top: 0; }
  .adv__item {
    margin-top: 75px; }
  .gallery {
    padding: 125px 0 80px 0; }
  .gallery__heading {
    font-size: 22px; }
  .gallery__desc {
    font-size: 14px;
    line-height: 28px; }
  .gallery__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .gallery__row .gallery__column {
    display: none; }
  .gallery__row:first-child .gallery__column:first-child {
    display: block; }
  .gallery__column {
    margin: 0 0 20px 0;
    width: 100%;
    max-width: none; }
  .gallery__item {
    width: 100%; }
  .gallery__btn {
    margin-top: 34px; }
  .reviews {
    padding: 155px 0 95px 0; }
  .reviews__slide-right {
    width: 100%; }
  .reviews__heading:before {
    width: 52px;
    height: 150px;
    top: -40px; }
  .reviews__heading {
    font-size: 22px; }
  .reviews__desc {
    font-size: 14px;
    line-height: 28px; }
  .reviews__slider-wr {
    margin-top: 40px; }
  .slick-arrow {
    display: none !important; }
  .reviews__slide-heading {
    font-size: 15px; }
  .reviews__slide-text {
    margin-top: 25px; }
  .reviews__main-btn {
    margin-top: 55px; }
  .steps {
    padding: 130px 0 20px 0; }
  .steps__heading {
    font-size: 22px; }
  .steps__desc {
    font-size: 14px;
    max-width: none; }
  .steps__heading:before {
    width: 52px;
    height: 150px;
    top: -50px; }
  .steps__box {
    margin-top: 95px;
    padding: 0; }
  .steps__row {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .steps__row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .steps__column {
    width: 100%;
    max-width: none; }
  .steps__row .steps__column:nth-child(2) {
    width: 100%; }
  .steps__row .steps__column:first-child {
    max-width: none;
    width: 100%; }
  .steps__row:nth-child(even) .steps__column:first-child {
    margin-left: 0; }
  .steps__counter {
    position: absolute;
    top: 15px;
    left: 8px; }
  .cost {
    display: none; }
  .excursion {
    padding: 120px 0 70px 0; }
  .excursion__heading {
    font-size: 22px; }
  .excursion__desc {
    font-size: 14px; }
  .excursion__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .excursion__input {
    width: 100%;
    margin-bottom: 20px; }
  .excursion__input:last-child {
    margin-bottom: 0; }
  .contact {
    height: 970px; }
  .contact__wr {
    padding: 400px 0 0 0; }
  .contact__content {
    max-width: 320px;
    margin: auto;
    padding: 50px 35px  45px 35px; }
  .contact__adress,
  .contact__mail {
    font-size: 14px; }
  .contact__pre-form {
    font-size: 14px; }
  .contact__yandex-map {
    position: relative;
    z-index: 1; }
  .contact .container {
    position: relative;
    z-index: 2;
    min-height: 50vh;
    margin-top: -400px;
    margin-left: 0; }
  .contact__wr {
    padding-top: 0;
    position: relative;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .footer__logo {
    width: 134px; }
  .footer__vektus-wr {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media screen and (max-width: 360px) {
  .main__logo {
    width: 120px; }
  .main__logo-text {
    max-width: 110px;
    margin-left: 0; } }
