/* Styles for popup */

.popup{
	z-index: 99;
	width: 100%;
	height: 95vh;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	position:fixed;
	margin: 0 auto;
    left: 0;
    right: 0;
    width: 640px;
}
#popup-expert-body:hover, 
#popup-expert:hover, 
#popup-rules:hover{
	cursor: pointer;
}

#popup-expert-body div,
#popup-expert div, 
#popup-rules div{
	cursor: default;
}

.popup__bg{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(29,79,110, .5);
	cursor: pointer;
}

.popup__content{
	width: 640px;
	padding: 40px 0;
	text-align: center;
	background-color: #fff;
}

#popup-expert .popup__content,
#popup-50 .popup__content,
#popup-15s .popup__content,
#popup-rules .popup__content,
#popup-expert-body .popup__content,
#popup__expert-content-body .popup__content{
	border: 2px solid #1D4F6E;
	border-radius: 4px;
}



.popup__50-text,
.popup__15s-text{
	display: none;
}

#popup{
	background-color: #fff;
	width: 650px;
}

#popup__btn-ok{
	margin-right: 30px;
}

.popup__cancel,
.popup__accept{
	border-radius: 2px;
	padding: 18px 23px;
	border: none;
	margin: 10px;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

#popup .popup__content{
	width: 650px;
}

#popup .popup__content .popup__title{
	font-weight: 300;
	line-height: 125%;
}

#popup-50,
#popup-15s,
#popup{
	top:calc(50% - 130px);
	align-items: flex-start;
	max-height: 260px;
}

.popup__title{
	color: #1D4F6E;
	font-size: 24px;
}

.popup__btns{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.popup__accept a,
.popup__cancel a{
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.popup__accept{
	background-color: #449732;
}

.popup__cancel{
	background-color: #1D4F6E;
}

.owl-dots{
	justify-content: center;
}
//***********"popup-instruction******

#popup-instruction{
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	align-items: flex-start;
}

.popup__prev-content{
	text-align: center;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	margin: auto;
	right: 0;
	width: 630px;
	max-height: 270px;
	background-color: #fff;
	padding: 45px 20px;
	border: 2px solid #1D4F6E;
	border-radius: 4px;
}

.popup__prev-title{
	font-size: 24px;
	line-height: 125%;
	color: #1D4F6E;
}

.popup__prev-expert-text{
	display:none;
	margin-top: 20px;
	font-size: 12px;
	line-height: 16px;
}

.popup__prev-btns{
	margin-top: 35px;
}


//***********"popup-instruction END******


//***********"popup-instruction-body******

#popup-instruction-body{
	width: 100%;
	height: 100%;
	position: relative;
}

.popup__instr-content{
	width: 800px;
	max-height:90vh;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	margin: auto;
	background-color: #fff;
	border: 2px solid #1D4F6E;
	border-radius: 4px;
	padding: 60px 50px 55px 50px;
}

.popup__instr-heading{
	font-size: 32px;
	line-height: 125%;
	text-align: center;
	color: #1D4F6E;
}

.popup__instr-subtitle{
	font-weight: 600;
	font-size: 24px;
	line-height: 125%;
	text-align: center;
	color: #449732;
	margin-top: 40px;
}

.popup__instr-carousel-wr{
	margin-top: 30px;
	overflow-y: auto;
	height: 50vh;
	overflow-y: auto;
}

.popup__instr-carousel-wr .owl-carousel{
	border: 2px solid #1D4F6E;
	padding: 16px 23px;
}

.popup__carousel-text{
	color: #1D4F6E;
	margin-top: 30px;
}

.popup__carousel-text:first-child{
	margin-top: 0;
}

.popup__carousel-color{
	color: #449732;
}

.popup__instr-carousel-wr .owl-dots{
	position: absolute;
	bottom: -24px;
	left:0;
	right:0;
	margin: auto;
}

//***********"popup-instruction-body END******


//*********RULES

.main__slider-nav{
	margin-top: 45px;
}

.main__slider-link{
	color: rgba(29, 79, 110, 0.5);
	text-decoration: none;
	margin-right: 20px;
	transition: .3s;
}

.main__slider-link-active{
	color: $blue;
}

.main__slider{
	margin-top: 30px;
}

.main__list{
	position: relative;
}

.main__item:before{
	height: 17px;
	width: 16px;
	content: "";
	display: block;
	background-image: url(../img/main/main__item.svg);
	background-repeat: no-repeat;
	margin-left: -50px;
	margin-top: 8px;
	position: absolute;
}

.main__item{
	line-height: 28px;
	padding-left: 50px;
}

.main__help .main__item:nth-child(1){
	margin-top: 0;
}

.main__help .main__item{
	margin-top: 30px;
}

.main__item-help{
	float: left;
	margin-right: 10px;
	font-weight:700;
	color: $blue;
}

//************popup-results******

#popup-results {
	width: 100%;
	height: 100%;
	position: absolute;
}

.popup__results-content{
	width: 630px;
	max-height: 95vh;
	background-color: #fff;
	padding: 30px 85px;
	overflow-y: auto;
	border-radius: 4px;
}

.popup__results-heading{
	font-size: 32px;
	line-height: 125%;
	text-align: center;
	color: #1D4F6E;

}

//************table for results 

.popup__results-table{
	width: 100%;
}

.table__row{
	
}

.table__colum-heading{
	text-align: center;
	color: #449732;
	padding: 15px 0px;
	font-weight: 300;
}

.table__item{
	text-align: center;
	color: #1D4F6E;
	font-size: 20px;
	font-weight: 300;
	padding: 15px 0;
}

.table__row .table__item:nth-child(1){
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.table__row .table__item:last-child{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.table__row-active .table__item{
	background-color: #449732;
}

.table__row-active .table__item{
	color: #fff;
}

.popup__btn_close{
	display: none;
	width: 80px;
	height: 25px;
	text-align: center;
	color: #fff;
	background-color: #1D4F6E;
	border: none;
	cursor: pointer;
	margin: 30px auto 0 auto;

}


//**************popup-expert************

#popup-expert{
	width: 100%;
	height: 100%;
	position: absolute;
}

.popup__content-expert{
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	width: 650px;
	margin: auto;
	max-height:235px;
	background-color: #fff;
	padding: 40px 115px;
	border: 2px solid #1D4F6E;
	border-radius: 4px;
}

.popup__title-expert{
	font-size: 24px;
	line-height: 125%;
	text-align: center;
	color: #1D4F6E;
}

.popup__expert-text{
	margin-top: 20px;
	font-size: 12px;
	line-height: 16px;
}

.popup__expert-text{
	display: none;
}

.popup__btns{
	margin-top: 35px;
}

//**************popup-expert END************

//**************popup-expert-body***********

#popup-expert-body{
	width: 100%;
	height: 100%;
	position: absolute;
}

.popup__expert-content-body{
	position: fixed;
	width: 640px;
	max-height: 75vh;
	border: 2px solid #1D4F6E;
	border-radius: 4px;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right:0;
	background-color: #fff;
	padding: 45px 85px;
	overflow-y: auto;
}

.popup__expert-heading-body{
	font-size: 32px;
	line-height: 125%;
	text-align: center;
	color: #1D4F6E;
}

.popup-expert-img{
	display: block;
	margin: 30px auto;
}

.popup-expert-text-body:before{
	content: '';
	display: block;
	width: 152px;
	height: 3px;
	background-color: #449732;
	margin-bottom: 26px;
}

.popup-expert-text-body{
	font-size: 24px;
	line-height: 125%;
	color: #1D4F6E;
	position: relative;
}

.popup-expert-text-body:after{
	position: absolute;
	right: 0;
	content: '';
	display: block;
	width: 152px;
	height: 3px;
	background-color: #449732;
	margin-top: 20px;
}

//********************popup-rules*********

#popup-rules{
	position: absolute;
	width: 100%;
	height: 100%;
}

.popup__rules-content{
	width: 1000px;
	max-height: 75vh;
	background-color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	padding: 30px 0;
	border: 2px solid #1D4F6E;
	border-radius: 4px;
}

.popup__rules-heading{
	text-align: center;
	font-size: 32px;
	line-height: 125%;
	color: #1D4F6E;
}

.popup__rules-content .main__slider-nav{
	padding: 0 190px;
}

.popup__rules-content .owl-carousel{
	overflow-y: auto;
	height: 35vh;
	padding: 0 190px;
}

.popup__rules-content .main__slider-nav{
	margin-top: 30px;
}

.popup__rules-content .main__slider{
	margin-top: 45px;
}

.popup__rules-content .main__list{
	margin-top: 0;
}



//*********************MEDIA*******

@media screen and (max-width: 1100px){

	.popup__rules-content{
		width: 80vw;
	}

	.popup__rules-content .main__slider-nav{
		padding: 0px 80px
	}

	.popup__rules-content .owl-carousel{
		padding: 0px 80px;
	}
}

@media screen and (max-width: 825px){
	//***********"popup-instruction-body ******
	.popup__instr-content{
		width: 75vw;
		padding: 30px 20px 30px 20px;
	}
	
	//**************popup-expert************
	.popup__content-expert{
		width: 90vw;
		padding: 30px 20px 30px 20px;
		max-height: 220px;
	}

	.popup__btns{
		margin-top: 25px;
	}

	//popup-rules****

	.popup__rules-content .main__slider-nav{
		padding: 0px 80px
	}

	.popup__rules-content .main__slider-nav{
		flex-direction: column;
	    display: flex;
	}

	.popup__rules-content .main__slider-nav a{
		margin-top: 15px;
	}
	
}

@media screen and (max-width: 700px){
	.popup{
		width: 100%;
		padding: 35px 20px;
	}

    .popup__title{
    	padding: 0 20px;
    	font-size: 22px;
    }

    #popup{
    	max-height: 330px;
    }

    //***********"popup-instruction ******
	
	.popup__prev-content{
		width: 90vw;
		padding: 45px 20px;
	}

	.popup__prev-title {
    	font-size: 22px;
    }

    .popup__prev-btns {
	    margin-top: 25px;
	}

	.popup__prev-btns .popup__cancel, 
	.popup__prev-btns .popup__accept {
	    padding: 15px 35px;
	}


    //***********"popup-instruction END******


	//***********"popup-instruction-body ******

	.popup__instr-content{
		max-height: 95vh;
	}

	.popup__instr-heading{
		font-size: 26px;
	}

	.popup__instr-subtitle{
		font-size: 20px;
		margin-top: 20px;
	}

    .popup__instr-content .popup__btn_close{
		display: block;
		margin-top: 30px;
	}


	//***********popup-instruction-body END******

	//***********popup-results******

	.popup__results-content{
		padding: 30px 30px;
	}


	//**************popup-expert************

	.popup__title-expert{
		font-size: 22px;
	}

	.popup__btns{
		margin-top: 25px;
	}

	//**************popup-expert-body 

	.popup__expert-content-body{
		width: 85vw;
		overflow-y: auto;
	}

	.popup__expert-heading-body{
		font-size: 26px;
	}

	.popup-expert-text-body{
		font-size: 20px;
	}

	//*******popup-rules****
	.popup__rules-content .main__item:before{
		margin-left: -30px;
	}

	.popup__rules-content .owl-carousel{
		padding: 0px 20px
	}

	.popup__rules-content .main__slider-nav{
		padding: 0px 20px
	}


}
@media screen and (max-width: 480px){
	#popup-50 .popup__title,
	#popup-15s .popup__title{
		font-size: 14px;
		line-height: 125%;
		font-weight: 300;
		padding: 0 20px;
	}

	#popup-50 .popup__accept,
	#popup-50 .popup__cancel,
	#popup-15s .popup__accept,
	#popup-15s .popup__cancel{
    	padding: 7px 15px;
    }
    #popup-50 .popup__btns,
    #popup-15s .popup__btns{
    	margin-top: 20px;
    }

    #popup-50 {
	    top: calc(50% - 160px);
	}

    .popup__50-text,
    .popup__15s-text{
    	display: block;
		font-size: 12px;
		line-height: 16px;
		text-align: left;
		padding: 0 20px;
		margin-top: 20px;
    }

	.popup{
		padding: 35px 20px;
	}

	.main__left-part .owl-dots{
		top:-15px;
	}

	.popup__accept a, .popup__cancel{
		font-size: 14px;
	}

	.owl-dots{
		justify-content: center;
		position: absolute;
    	width: 100%;
    	top: 0;
    	margin-top: -50px!important;
	}

	img.popup__btn_close{
		display: none;
	}

	#popup-50 .popup__content, 
	#popup-15s .popup__content {
		max-height: none;
		padding: 20px 0;
	}


	//***********"popup-instruction******
	
	.popup__prev-content{
		padding: 25px;
		max-height: 250px;
	}

	.popup__prev-title{
		font-size: 14px;
	}

	.popup__prev-expert-text{
		display: block;
		text-align: left;
	}

	.popup__prev-btns{
		margin-top: 20px;
	}

	.popup__prev-btns .popup__accept a{
	    font-size: 12px;
	}

	.popup__prev-btns .popup__cancel, 
	.popup__prev-btns .popup__accept {
	    padding: 8px 20px;
	    font-size: 12px;
	    margin: 0;

	}

	//***********"popup-instruction END******


	//***********"popup-instruction-body******

	.popup__instr-content {
	    max-height: 85vh;
	}
	
	.popup__instr-heading{
		font-size: 14px;
	}

	.popup__instr-subtitle{
		font-size: 12px;
	}

	.popup__instr-carousel-wr{
		margin-top: 15px;
	}

	.popup__instr-carousel-wr .owl-carousel{
		border: none;
	}

	.popup__carousel-text{
		font-size: 12px;
		margin-top: 20px;
	}

	.popup__instr-carousel-wr .owl-dots{
		margin-top: 0!important;
		position: absolute;
		bottom: -24px;
		left:0;
		right:0;
		margin: auto;
		top: auto;
	}


	//***********"popup-instruction-body END******


	//***********"popup-results******
	.popup__results-content {
	    padding: 20px 10px;
	    max-height: 75vh;
	    max-width: 80vw;
	}

	.popup__results-heading{
		font-size: 14px;
	}

	.table__colum-heading{
		font-size: 10px;
	}

	.table__item{
		font-size: 11.5px;
	}

	.popup__results-content .popup__btn_close{
		display: block;
	}

	//***********popup-expert*******

	.popup__title-expert{
		font-size: 14px;
		font-weight: 300;
	}

	.popup__expert-text{
		display: block;
	}

	#popup-expert .popup__cancel, 
	#popup-expert .popup__accept{
		padding: 8px 21px;
	}

	//***********popup-expert END*******

	//***********popup-expert-body*******

	.popup__expert-content-body{
		padding: 25px 10px;
		max-height: 300px;
	}

	.popup__expert-heading-body{
		font-size: 14px;
	}

	.popup-expert-img{
		width: 45px;
		height: 57px;
	}

	.popup-expert-text-body:before{
		top: -15px;
	}

	.popup-expert-text-body:after{
		bottom: -15px;
	}

	.popup-expert-text-body:before,
	.popup-expert-text-body:after{
		position: absolute;
		content: '';
		display: block;
		width: 82px;
		height: 1.5px;
		background-color: #449732;
		margin: auto;
		left: 0;
		right: 0;
	}

	.popup-expert-text-body{
		font-size: 12.8px;
	}


	//**********popup-rules

	.popup__rules-content{
		padding: 25px 0;
		position: relative;
	}

	.popup__rules-heading{
		font-size: 14px;
	}

	.popup__rules-content .main__slider-link{
		font-size: 14px;
		text-align: center;
		margin-right: 0;
	}

	.popup__rules-content .owl-carousel{
		position: static;
	}

	.popup__rules-content .main__slider {
	    margin-top: 15px;
	}

	.popup__rules-content .main__item{
		font-size: 12px;
		line-height: 20px;
		margin-top: 30px;
		padding-left: 29px;
	}

	.popup__rules-content .main__item:first-child{
		margin-top: 0;
	}

	.popup__rules-content .main__item:before{
		width: 13px;
		height: 13.7px;
	}

	.popup__rules-content .owl-dots{
		top: 60px;
		margin: auto !important;
		left: 0;
		right: 0;

	}

	.popup__btn_close{
		display: block;
	}

	//**********popup-results

	.popup__results-content{
		overflow-y: none;
	}

	.popup__results-table-wr{
		overflow-y: auto;
	    max-height: 50vh;
	}


	.popup__results-table{
		display: block;
	}

	.popup__tbody{
		display: block;
		overflow-y: auto;
	}

	.table__row{
		width: 100%;
		margin: 0 auto;
	}

	.table__colum-heading,
	.table__item{
		width: 33%;
	}

}