@media screen and (max-width: 1340px){
	.main__extra-tooltip{
		left: -100%;
	}
}

@media screen and (max-width: 1140px) {
	.main__container {
	    padding: 40px 30px 80px 30px;
	}

	.main__instruction-tooltip,
	.main__50-tooltip,
	.main__extra-tooltip,
	.main__expert-tooltip{
		width: 350px;
	}
}

@media screen and (max-width: 1045px) {

	.main__instruction-tooltip,
	.main__50-tooltip,
	.main__extra-tooltip,
	.main__expert-tooltip{
		width: 300px;
	}

	.main__extra-tooltip{
		left: 0;
	}

	.main__50-tooltip{
		left:-100%;
	}

	.header{
		height: auto;
		display: flex;
		flex-direction: column;
	}


	.main__help{
		flex-wrap: wrap;
	}

	.main__help div{
		margin-top: 20px;
		width: 40%;
	}

	a.main__popup-link{
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 865px) {
	.main__instruction-tooltip,
	.main__50-tooltip,
	.main__extra-tooltip,
	.main__expert-tooltip{
		width: 200px;
	}

	.header{
		width: 310px;
		min-height: auto;
	}

	.header__top,
	.header__middle{
		padding: 0 20px;
	}

	.header__middle{
		margin-top:150px;
	}

	.header__arrow-back-link{
		margin-right: 15px;
		width: 50px;
   		height: 50px;
	}

	.header__logo-gastro-text:before{
		display: none;
	}

	.header__logo-gastro-wr{
		flex-wrap: wrap;
	}

	.main__container {
	    padding: 0px 30px 15px 30px;
	}

	a.main__popup-link span{
		display: none;
	}

	.main__middle{
		margin-top: 0;
	}

	.main__score-link,
	.main__score-num,
	.main__num-quest{
		font-size:12px;
	}

	.main__timer{

	}

	.main__heading{
		font-size: 22px;
	}

	.main__list-item,
	.main__list-alph {
		font-size: 16px;
	}

}

@media screen and (max-width: 655px) {
	.main__instruction-tooltip,
	.main__50-tooltip,
	.main__extra-tooltip,
	.main__expert-tooltip{
		width: 300px;
	}

	.main__50-tooltip,
	.main__expert-tooltip{
		left:-50%;
	}

	.page-wrapper{
		flex-direction: column;
	}

	.header__footer{
		display: none;
	}
	.header{
		width: 100%;
		padding-bottom: 50px;
	}

	.header__logo-gastro-text:before{
		display: block;
		top: 11px;
	}

	.header__quiz-top,
	.header__quiz,
	.header__rules{
		width: 100%;
		text-align: center;		
	}

	.header__middle{
		margin-top: 40px;
		width: 90%;
	}

	.header__quiz-top{
		width: auto;
	}

	.main{
		padding-top: 20px;
		width: 100%;
	}

	.footer{
		display: block;
	}

	.footer-top{
		background: #449732;
	}

	.footer__quiz-text{
		font-weight: 600;
		color: #fff;
		font-size: 20.6px;
	}

	.footer_quiz-pic{
		margin: 0 5px;
	}

	.quiz-footer{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		padding: 15px;
	}

	.footer-bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 40px;
		background-color: #1D4F6E;
	}

	.footer__logo-acare,
	.footer__logo-abbott{
		width: 55px;
	}

	.footer__logo-acare{
		margin-right: 30px;
	}

	.footer__copyright{
		font-size: 12px;
		line-height: 150%;
		text-align: right;
		color: rgba(255, 255, 255, 0.3);
	}
}

@media screen and (max-width: 525px){
	.main__instruction-tooltip,
	.main__50-tooltip,
	.main__extra-tooltip,
	.main__expert-tooltip{
		width: 200px;
		left: 0;
		z-index: 100;
	}

	.main__score{
		z-index: 99;
	}

	.header{
		padding: 30px 20px;
	}

	.main{
		padding: 20px;
	}

	.header__middle{
		width: 100%;
	}

	.header__top{
		padding: 0;
	}

	.header__top{
		font-size: 27px;
	}

	.header__logo-gastro-text {
	    width: 185px;
	    font-size: 13px;
	}

	.header__quiz-text,
	.header__quiz-text span {
	    font-size: 30px;
	}

	.header__quiz {
	    font-size: 40px;
	}

	.header__rules-link {
   		font-size: 20px;
   	}
}

@media screen and (max-width: 465px){
	body{
		height: auto;
	}

	.header__middle{
		margin-top: 20px;
	}

	.header__quiz-pic{
		width: 27px;
		height: 27px;
	}

	.main{
		padding: 0;
	}

	.page-wrapper{
		overflow-x: hidden;
	}

	.progress-ring__circle{
		stroke-width: 8px;
	}

	.main__help img{
		width: 30px;
		height: 30px;
	}

	.main{
		height: auto;
	}

	.header{
		height: 45%;
	}

	.header__arrow-back-link{
		display: none;
	}

	.header__logo-gastro-header{
		font-size: 20px;
		margin-right: 15px;
	}

	.header__logo-gastro-text {
	    width: auto;
	    font-size: 11px;
	}

	.header__logo-gastro-text:before {
	    top: 4px;
	    height: 20px;
	}

	.header__rules{
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin-top: 15px;
	}

	.header__score-link{
		display: block;
		font-size: 20px;
		color: #fff;
		font-weight: 600;
		text-decoration: underline;
	}
	.main__middle .main__score{
		display: none;
	}

	.header {
	    padding: 15px 20px;
	}

	.header__quiz-text{
		text-transform: uppercase;
		line-height: 40px;
	}

	.header__quiz-text,
	.header__quiz-text span {
	    font-size: 23px;
	    
	}

	.header__quiz{
		font-size: 30px;
	}

	.header__score-link,
	.header__rules-link{
		font-size: 14px;
		z-index: 10;
	}

	.main__container {
	    padding: 15px 20px;
	    position: relative;
	}

	.main__help{
		justify-content: flex-start;
	}

	.main__help a {
		border: none;
		margin-right: 9px;
		padding: 0;
		width: auto;
		height: auto;
	}

	.main__help div {
	    width: auto;
	    margin-top: 0;
	}

	.main__timer-wr {
	    position: absolute;
	    right: 0;
	    top: 0;
    	margin-top: -32px;
    	margin-right: -18px;
	}

	.main__timer{
		font-size: 14px;
		top: calc(50% - 20px);
	}

	.main__timer span{
		display: inline;
		font-size: 10.5px;
		text-transform: none;
	}

	.progress-ring{
		transform: scaleX(0.4) scaleY(0.4);
	}

	.main__heading{
		font-size: 14px;
	}

	.main__list-item{
		padding: 10px 12px;
		border-radius: 50px;
		font-size: 12px;
	}

	.main__help img{
		margin-right: 0;
	}

	.main__50-pic{
		margin-right: 0;
	}
	.main__link-dis{
		opacity: 0.6;
		border-radius: 40px;
		border-color: rgba(0,0,0,0.6)!important; 
	}

	.footer-bottom {
		padding: 20px;
	}

	.main__item:before{
		margin-left: -24px;
	}

	.main__instruction:hover:after,
	.main__50:hover:after,
	.main__extra:hover:after,
	.main__expert:hover:after{
		left: 18%;
	}
}