@import "__font.scss";
@import "__libs.scss";
@import "__popup.scss";

body{
	font-family: "MuseoSansCyrl", sans-serif;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: -0.02em;
	min-height: 100%;
}

.main .container{
	padding-right: 0;
	width: 100%;
	max-width: none;
}

.main__left-part{
	float: left;
	padding: 40px 0 60px 0;
	width: 630px;
}

.main__heading-wr{
	display: flex;
	justify-content: space-between;
}

.main__heading{
	font-weight: 500;
	font-size: 52px;
	color: $blue;
}

.main__levels-link{
	visibility: hidden;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #1D4F6E;
	text-decoration: none;
}

.main__slider-nav{
	margin-top: 45px;
}

.main__slider-link{
	color: rgba(29, 79, 110, 0.5);
	text-decoration: none;
	margin-right: 20px;
	transition: .3s;
}

.main__slider-link-active{
	color: $blue;
}

.main__slider{
	margin-top: 30px;
}

.main__list{
	position: relative;
}

.main__item:before{
	height: 17px;
	width: 16px;
	content: "";
	display: block;
	background-image: url(../img/main/main__item.svg);
	background-repeat: no-repeat;
	margin-left: -50px;
	margin-top: 8px;
	position: absolute;
}

.main__item{
	line-height: 28px;
	padding-left: 50px;
}

.main__help .main__item:nth-child(1){
	margin-top: 0;
}

.main__help .main__item{
	margin-top: 30px;
}

.main__item-help{
	float: left;
	margin-right: 10px;
	font-weight:700;
	color: $blue;
}

.main__right-part{
	float: right;
	height: 750px;
	background-image: url(../img/main/main-right-bg.png);
	width: 680px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Owl dots */

.owl-dots button.owl-dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: transparent !important;
	border: 1px solid $blue !important;
	margin-right: 12px;
	transition: .3s;
}

.owl-dots button.active{
	background: $blue !important;
}

/* End of dots */

.main__button-next{
	margin-top: 40px;
	transition: .3s;
	color: #449732;
	background: transparent;
	border: 2px solid #449732;
	border-radius:30px;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	cursor: pointer;
	padding: 15px 70px;
	box-sizing: border-box;
}

.main__button-next:hover{
	color: #36622C;	
	border-color: #36622C;
}

/* Styles for #container_mobile */

.wrapper_mobile{
	background-image: url(../img/main/main-right-bg.png);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    padding: 0 20px;
}