@import "libs.scss";

body{
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

.main{
	margin-top: -310px;
	width: 100%;
	overflow-x: hidden;
}

.events .owl-carousel .owl-stage-outer{
	overflow: visible!important;
}

.events .events__slider .owl-stage-outer{
	max-height: none;
}

//----------Rating----------

.rating{
	background-image: url('../img/main/bg.jpg');
	background-position: center 60px;
	background-size: cover;
	padding: 338px 0 80px 0;
	background-attachment: fixed;
}

.rating__heading{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

.rating__item-wr{
	margin-top: 20px;
}

.rating__item-wr:first-child{
	margin-top: 30px;
}

.rating__item{
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: #fff;
	color: $black;
	border-radius: 5px;
	padding-right: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rating__item.active{
	box-shadow: none;
	border-radius: 5px 5px 0 0;
}

.rating__item-help{
	position: absolute;
	font-size: 11px;
	padding: 11px;
	background-color: $yellow;
	border-radius: 3px;
	top: -12px;
	left: 330px;
	display: flex;
	align-items: center;
}

.rating__item-help-ico{
	margin-right: 6px;
}

.rating__bonus,
.rating__code-wr,
.rating__review-wr,
.rating__stars{
	padding-top: 24px;
}

.rating__bonus-link{
	text-decoration: none;
	color: $black;
}

.rating__bonus-title{
	font-size: 11px;
	font-weight: 400;
	text-transform: none;
}

.rating__price{
	font-size: 19px;
	font-weight: 700;
}

.rating__price:hover{
	color: $yellow;
}

.rating__bonus-value{
	margin-top: 5px;
}

.rating__code-heading{
	font-size: 11px;
	font-weight: 400;
	text-transform: none;
	color: $black;
}

.rating__code-heading-disable{
	color: #E5E5E5;
}


.rating__code-item{
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.rating__code-item:hover{
	cursor: pointer;
}

.rating__copy{
	fill: #E5E5E5;
}

.rating__copy-active{
	fill: $black;
}

.rating__code-content{
	font-size: 19px;
	margin-left: 8px;
	color: #E6E6E6;
	font-weight: 700;
	text-transform: uppercase;
}

.rating__code-content-active{
	color: $black;
}

.rating__code-content-active:after{
	position: relative;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-image: url('../img/main/code-line.svg');
}

.rating__code-content-active:hover:after{
	background-image: none;
}

.rating__code-item:hover .rating__code-content-active
{
	color: $yellow;
}

.rating__review-content{
	display: flex;
	align-items: center;
	margin-top: 4px;
}

.rating__review-link{
	text-decoration: none;
	color: $black;
}

.rating__review-heading{
	font-size: 11px;
	font-weight: 400;
	text-transform: none;
}

.rating__review-icon{
	transform: translateY(2px);
}

.rating__review-text{
	margin-left: 7px;
	font-weight: 700;
	font-size: 19px;
}

.rating__review-text:hover{
	color: $yellow;
}

.rating__stars{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
}

.rating__stars-heading{
	display: block;
	font-size: 11px;
	font-weight: 400;
	color: $black;
	text-transform: uppercase;
}

.rating__stars-heading:hover{
	color: $yellow;
}

.rating__stars-content{
	margin-top: 5px;
}

.rating__stars-list{
	display: flex;
	align-items: center;
}

.rating__stars-item{
	margin-right: 8px;
}

.rating__stars-item:last-child{
	margin-right: 0;
}

.rating_star{
	fill: #CFCFCF;
}

.rating__star-full{
	fill: $yellow;
}

.rating__stars-text{
	font-size: 11px;
	transform: translateY(1px);
	font-weight: 400;
}

.rating__btns{
	display: flex;
	align-items: center;
	font-weight: 700;
	text-align: center;
}

.rating__btns-facts{
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #D7D7D7;
	color: $black;
	padding: 16px 32px;
	font-size: 12px;
	text-transform: none;
	line-height: 9px;
	margin-right: 12px;
}

.rating__btns-facts:hover{
	color: $btn_tr_hover;
}

.rating__btns-site{
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	color: $black;
	font-size: 12px;
	line-height: 9px;
	padding: 16px 32px;
	background-color: $yellow;
	text-align: center;
}

.rating__btns-site:hover{
	background-color: $btn_hover;
}

.rating__btns-arrow{
	margin-left: 20px;
	transition: .3s;
}

.rating__btns-arrow:hover{
	opacity: 0.7;
}

.rating__btns-arrow-active{
	transform: rotate(180deg);
}

.rating__item-desc-wr{
	display: none;
	background-color: #fff;
	padding: 15px 0;
}

.rating__item-desc{
	width: 100%;
	background-color: #fff;
	color: $black;
	display: flex;
	justify-content: space-around;
}

.rating__main,
.rating__payments{
	width: 343px;
}

.rating__main-heading,
.rating__payments-heading,
.rating__info-heading{
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	border-bottom: 1px solid #F8F8F8;
}

.rating__info-heading{
	margin-bottom: 20px;	
}

.rating__main-row:first-child,
.rating__payments-row:first-child{
	border-top: 1px solid #F8F8F8;
	margin-top: 20px;
}

.rating__main-row,
.rating__payments-row{
	width: 100%;
}

.rating__main-row:nth-child(2n),
.rating__payments-row:nth-child(2n){
	background: #F8F8F8;
}

.rating__payments-row .rating__payments-item:last-child{
	padding-left: 0;
}

.rating__main-item,
.rating__payments-item{
	font-weight: 500;
	font-size: 12px;
	line-height: 26px;
	width: 50%;
	text-transform: none;
	padding: 5px 13px;
	border-radius: 3px;
}

.rating__payments-row .rating__payments-item:last-child{
	width: 60%;
}


.rating__main-off-link,
.rating__main-mail,
.rating__payments-system-link{
	color: #006ED4;
	text-decoration: none;
	border-bottom: 1px rgba(0, 110, 212, .3) solid;
}

.rating__main-link-app{
	display: flex;
	align-items: center;
	height: 100%;
}

.rating__main-apple,
.rating__main-android{
	text-decoration:none;
	
}

.rating__main-apple{
	height: 18px;
	margin-right: 20px;
}

.rating__main-android{
	height: 17px;
	transform: translateY(1px);
}

.rating__info{
	width: 343px;
}

.rating__info-text{
	font-weight: 500;
	font-size: 12px;
	line-height: 26px;
	text-transform: none;
}

.rating__info-margin{
	position: relative;
	display: inline-block;
	line-height: 120%;
	margin-right: 3px;
}

.rating__info-margin:after {
	position: relative;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-image: url(../img/main/code-line.svg);
}

.rating__info-margin-ico{
	transform: translateY(1px);
}

.rating__block{
	width: 100%;
	margin-top: 20px;
}

.rating__info-kinds,
.rating__info-content{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	text-transform: none;
}

.rating__info-kinds-item:first-child,
.rating__info-content-item:first-child{
	border-left: none;
}

.rating__info-kinds-item,
.rating__info-content-item{
	width: 25%;
	background-color: #F8F8F8;
	padding: 15px 5px;
	border-left: 1px solid #E4E4E4;
}

.rating__info-content-item{
	background-color: transparent;
}

.rating__info-content-item:nth-child(3){
	width: 50%;
}

.rating__info-sport,
.rating__info-name{
	font-weight: 400;
	font-size: 11px;
	line-height: 150%;
	text-align: center;
	transform: translateX(-1px);
}

.rating__info-procent,
.rating__info-value{
	font-weight: 600;
	font-size: 12px;
	line-height: 170%;
	text-align: center;
	transform: translateX(-1px);
}

.rating__info-last{
	width: 100%;
	background-color: #F8F8F8;
	padding: 12px 0;
	text-align: center;
	text-transform: none;
}

.rating__info-extra{
	font-size: 11px;
	line-height: 150%;
	font-weight: 400;
}

.rating__info-market{
	font-weight: 600;
	font-size: 12px;
	line-height: 200%
}

.rating__item-desc-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 28px;
	text-transform: none;
}

.rating__item-btn-review,
.rating__item-btn-take{
	display: inline-block;
	width: 159px;	
	height: 41px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	line-height: 41px;
	text-decoration: none;
	color: $black;
	text-align: center;
}

.rating__item-btn-review{
	border: 1px solid #D7D7D7;
	margin-right: 18px;
}

.rating__item-btn-take{
	background-color: $yellow;
	width: 169px;	
}

.events{
	padding: 30px 0 0 0;
	background-color: #F8F8F8;
	position: relative;
}

.events__heading{
	font-weight: bold;
	font-size: 20px;
	line-height: 73.9%;
	text-transform: uppercase;
}


.events__slider-wr .owl-carousel{
	position: relative;
}

.events__item{
	background-color: #fff;
}

.events__bg-right{
	background: linear-gradient(269.3deg, #F8F8F8 24.56%, rgba(248, 248, 248, 0) 98.91%);
	border-radius: 10px;
	position: absolute;
	width: 103px;
	height: 200px;
	top: 0;
	right: -1px;
	z-index: 1;
	pointer-events: none;
}

//----------------Bonuses----------


.bonuses{
	background-color: #F8F8F8;
	padding: 35px 0;
}

.bonuses__heading{
	font-weight: bold;
	font-size: 20px;
	line-height: 73.9%;
	text-transform: uppercase;
}

.bonuses__list{
	display: flex!important;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	overflow: hidden;
}

.bonuses__item{
	width: 277px;
	padding: 34px 19px 19px 19px;
	border-radius: 5px;
	background-color: #fff;
}

.bonuses__item-link{
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	color: $black;
}

.bonuses__logo{
	margin: 0 auto;
	display: block;
}

.bonuses__text{
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	line-height: 151.9%;
	margin-top: 14px;
}

.bonuses__take-btn{
	width: 100%;
	height: 41px;
	line-height: 41px;
	background-color: $yellow;
	font-weight: bold;
	font-size: 12px;
	display: block;
	text-decoration: none;
	color: $black;
	text-align: center;
	margin-top: 33px;
}

.bonuses__take-btn:hover{
	background-color: $btn_hover;
}

.bonuses__date{
	text-align: center;
	font-size: 11px;
	margin-top: 14px;
}

.bonuses__btn-list{
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.bonuses__btn{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 62px;
	height: 46px;
	border: 1px solid #D3D3D3;
	border-radius: 3px;
	color: $black;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	line-height: 73.9%;
	margin-right: 28px;
}

.bonuses__btn:hover{
	color: $btn_tr_hover;
}

.bonuses__btn:last-child{
	margin-right: 0;
}

.bonuses__btn-text{
	transform: translateY(1px);
	margin-left: 10px;
}

//----------------Forecast----------

.forecast{
	background-image: url('../img/main/forecast-bg.svg');
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 40px 0;
}

.forecast__heading{
	font-weight: bold;
	font-size: 20px;
	line-height: 73.9%;
	text-transform: uppercase;
}

.forecast__tags-wr:first-child{
	margin-top: 42px;
}

.forecast__tags-wr{
	display: flex;
	align-items: center;
	margin-top: 31px;
}

.forecast__tags{
	display: flex;
	align-items: center;
	width: 590px;
}

.forecast__name-tag{
	margin-left: 20px;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
}

.forecast__tag-link{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
	margin-left: -4px;
}

.forecast__title{
	font-size: 16px;
	line-height: 150%;
	font-weight: 500;
}

.forecast__items-wr{
	width: 100%;
	border-radius: 5px;
	background-color: #1F1F1F;
	padding: 0 30px;
	margin-top: 29px;
}

.forecast__item{
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid #2E2E2E;
	
}

.forecast__item-link{
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.forecast__item-clock{
	font-size: 14px;
	font-weight: 400;
}

.forecast__item-month{
	font-size: 14px;
	font-weight: 500;
}

.forecast__item-logo-wr{
	margin-left: 30px;
}

.forecast__item-logo-wr .forecast__item-logo:first-child{
	margin-right: 20px;
}

.forecast__item-team-wr{
	margin-left: 20px;
}

.forecast__item-team{
	font-size: 14px;
	font-weight: 600;
	width: 350px;
}

.forecast__item-team:last-child{
	margin-top: 5px;
}

.forecast__item-bets-wr{
	display: flex;
	align-items: center;
}

.forecast__item-bet-text{
	font-weight: bold;
	font-size: 14px;
	line-height: 120%;
}

.forecast__item-bets-wr object:nth-child(2) .forecast__item-bet-link{
	margin-left: 40px;
}

.forecast__item-bet-link{
	display: inline-block;
	border-radius: 4px;
	width: 80px;
	margin-left: 15px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #2E2E2E;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}

.forecast__item-bet-link:hover{
	background-color: $yellow;
	color: $black;
}

.forecast__item-make-bet{
	margin-left: 40px;
}

.forecast__item-main-btn{
	display: inline-block;
	border-radius: 4px;
	width: 166px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: $yellow;
	color: $black;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
}

.forecast__item-main-btn:hover{
	background-color: $btn_hover;
}

//----------------------About-------------

.about{
	padding: 40px 0;
	color: #000;
	background-color: #F8F8F8;
}

.about__heading{
	font-size: 20px;
	font-weight: 700;
	line-height: 79.3%;
	text-transform: uppercase;
}

.about__text-wr{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.about__text-left,
.about__text-right{
	width: 575px;
}

.about__text{
	line-height: 160%;
	font-size: 15px;
	margin-top: 23px;
	display: block;
}

.about__text-right .about__text:first-child{
	margin-top: 0;
}

.about__quote-wr{
	width: 100%;
	background-color: #fff;	
	border-radius: 5px;
	padding: 19px 27px 15px 26px;
	margin-top: 28px;
	display: flex;
	align-items: flex-start;
	margin-bottom: 31px;
}

.about__quote-ico{
	margin-top: 9px;
    margin-right: 13px;
	height: 4px;
	width: 20px;
}

.about__quote-ico svg{
	display: block;

}

.about__quote-text{
	font-size: 11px;
	line-height: 150%;
}

.about__quote-author{
	margin-top: 14px;
	font-size: 11px;
	font-weight: 700;
}

.about__text-left .about__text:first-child{
	margin-top: 0;
}

.about__content{
	padding-top: 36px;
	display: flex;
	justify-content: space-between;
}

.about__faq,
.about__experts{
	width: 575px;
}

.about__faq-heading,
.about__experts-heading{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.9px;
}

.about__faq-list{
	margin-top: 25px;
}

.about__faq-item{
	margin-top: 10px;
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	padding: 15px 15px 15px 21px;
}

.about__faq-content{
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 30px;
}

.about__faq-item:first-child{
	margin-top: 0;
}

.about__faq-item.active{
	padding-bottom: 20px;
}

.about__faq-ico{
	margin-right: 18px;
	cursor: pointer;
}

.about__faq-title{
	font-weight: bold;
	font-size: 11px;
	line-height: 150%;
	text-transform: none;
}

.about__faq-answer-wr{
	display: none;
	padding: 0px 30px 0 39px;
	font-size: 11px;
	line-height: 150%;
}

.about__faq-dot-top,
.about__faq-dot-bottom{
	transition: .3s;
}

.about__faq-dot-top.active{
	transform: translateY(8px);
}

.about__faq-dot-bottom.active{
	transform: translateY(-8px);
}

.about__experts-row:first-child{
	margin-top: 26px;
}

.about__experts-row{
	margin-top: 36px;
	display: flex;
	justify-content: space-around;
}

.about__experts-item{
	width: 80px;
}

.about__expert-name{
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	margin-top: 8px;
	text-transform: none;
}

.about__expert-desc{
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 14px;
	text-align: center;
	margin-top: 8px;
	color: #BBBBBB;
	font-weight: 400;
}

//---------------News------------

.news{
	padding: 36px 0;
}

.news__wr{
	display: flex;
}

.news__aside{
	width: 278px;
	margin-right: 20px;
}

.news__aside-heading,
.news__article-heading{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
}

.news__aside-content{
	margin-top: 30px;
	color: $black;
}

.news__aside-item:first-child{
	margin-top: 0;
}

.news__aside-item{
	margin-top: 30px;
}

.news__aside-date{
	font-size: 11px;
}

.news__aside-link{
	font-size: 16px;
	font-weight: 700;
	line-height: 155%;
	color: $black;
	text-decoration: none;
}

.news__aside-text{
	margin-top: 15px;
	line-height: 150%;
}

.news__aside-text:hover .news__aside-link{
	color: #006ED4;
}

.news__aside-btn{
	display: block;
	text-decoration: none;
	width: 100%;
	height: 41px;
	line-height: 41px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: $black;
	border: 1px solid #D7D7D7;
	border-radius: 3px;
	margin-top: 30px;
}

.news__aside-btn:hover{
	color: $btn_tr_hover;
}

.news__article-wr{
	width: 870px;
	overflow: hidden;
}

.news__article-content{
	margin-top: 27px;
	display: flex!important;
	justify-content: space-between;
	width: 100%;
}

.news__article-item{
	width: 273px;
	margin-right: 25px;
}

.news__article-heading-link{
	text-decoration: none;
	color: $black;
}

.news__article-title:hover{
	color: #006ED4;
}

.news__article-img-wr{
	position: relative;
	border-radius: 5px;
}

.news__article-img-text{
	position: absolute;
	top: 15px;
	left: 15px;
	display: block;
	background-color: $yellow;
	color: $black;
	padding: 7px 10px;
	border-radius: 3px;
	font-size: 11px;
}

.news__article-date{
	margin-top: 23px;
	font-size: 11px;
}

.news__article-title{
	font-weight: 700;
	font-size: 16px;
	margin-top: 22px;
	line-height: 150%;
}

.news__article-text{
	font-size: 15px;
	line-height: 160%;
	margin-top: 20px;
}

.news__article-btn{
	display: block;
	text-decoration: none;
	width: 275px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: #2B2B2B;
	border: 1px solid #D7D7D7;
	border-radius: 3px;
	margin: 38px auto 0 auto;
}

.news__article-btn:hover{
	color: $btn_tr_hover;
}

//-----------------------Sub-----------

.sub{
	background-color: #F8F8F8;
	padding: 45px 0 40px 0;
}

.sub__heading{
	font-size: 20px;
	font-weight: 700;
	line-height: 79.3%;
	text-transform: uppercase;
}

.sub__socials-wr{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.sub__social-item{
	width: 176px;
	height: 98px;
	border: 1px solid #D7D7D7;
	border-radius: 3px;
}

.sub__social-item-link{
	width: 100%;
	height: 100%;
	color: #A3A3A3;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sub__social-item:hover{
	background-color: #55A4D8;
}

.sub__social-item:hover .sub__social-item-ico{
	fill: #fff
}

.sub__social-item:hover .sub__social-item-text{
	color: #fff;
}

.sub__social-item-ico{
	fill: $black;
}

.sub__social-item-text{
	text-align: center;
	font-size: 8px;
	margin-top: 10px;
}

//-------------------Video--------

.video{
	background-color: #F8F8F8;
	padding-bottom: 40px;
}

.video__heading{
	font-size: 20px;
	font-weight: 700;
	line-height: 79.3%;
	text-transform: uppercase;
}

.video__content{
	margin-top: 40px;
	display: flex!important;
	justify-content: space-between;
}

.video__item{
	width: 277px;
	color: $black;
}

.video__item-img-wr{
	position: relative;
}

.video__item-svg{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}

.video__item-title{
	margin-top: 18px;
    margin-left: 27px;
	font-size: 16px;
	line-height: 150%;
	font-weight: 700;
}

.video__item-views{
	font-size: 11px;
	line-height: 150%;
	margin-top: 7px;
	margin-left: 27px;
}

.video__btn-wr{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.video__btn{
	height: 41px;
	text-align: center;
	color: $black;
	text-decoration: none;
	border-radius: 3px;
	font-size: 12px;
	font-weight: 700;
	line-height: 41px;
}

.video__btn-youtube{
	background-color: $yellow;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 268px;
	margin-right: 20px;
}

.video__btn-youtube-ico{
	margin-right: 10px;
}

.video__btn-youtube:hover{
	background-color: $btn_hover;
}

.video__btn-all {
	border: 1px solid #D7D7D7;
	width: 152px;
}

.video__btn-all:hover{
	color: $btn_tr_hover;
}

//---------------rating mobile----------

.rating__mobile-wr{
	display: none;
	margin-top: 10px;
	flex-wrap: wrap;
	position: relative;
	align-items: flex-start;
}

.rating__mobile-item{
	background-color: #fff;
	width: 290px;
	border-radius: 3px;
	margin-top: 16px;
	position: relative;
	margin-right: 20px;
}

.rating__mobile-item-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $yellow;
}

.rating__mobile-link{
	color: $black;
	font-weight: 700;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
	display: block;
	width: 100%;
	transform: translateX(-8px);
}

.rating__mobile-item-wr{
	padding: 25px 15px 15px 15px;
}

.rating__mobile-item-row{
	display: flex;
	justify-content: space-between;
	color: $black;
	margin-top: 15px;
}

.rating__mobile-content{
	margin-top: 5px;
}

.rating__mobile-code{
	width: 58%;
}

.rating__mobile-text{
	font-size: 10px;
	font-weight: 500;
	color: $black;
}

.rating__mobile-price{
	font-weight: bold;
	font-size: 19px;
	margin-left: 3px;
	text-transform: uppercase;
}

.rating__mobile-code .rating__mobile-price:after{
	position: relative;
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-image: url(../img/main/code-line.svg);;
}

.rating__mobile-price.active{
	color: $yellow;
}

.rating__mobile-item .rating__mobile-item-row:first-child{
	margin-top: 0;
}

.rating__mobile-stars{
	width: 58%;
	margin-top: -6px;
}

.rating__mobile-stars .rating__mobile-text{
	text-transform: uppercase
}

.rating__mobile-btn{
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #D7D7D7;
	color: $black;
	padding: 16px 0;
	width: 100%;
	font-weight: 700;
	font-size: 11px;
	text-transform: none;
	line-height: 9px;
	text-align: center;
}

.rating__mobile-desc-wr{
	position: relative;
	padding-top: 15px;
	display: none;
}

.rating__mobile-line{
	width: 260px;
	height: 1px;
	background-color: #E7E7E7;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.rating__mobile-close-wr{
	position: absolute;
	right: 15px;
	top: 15px;
	display: flex;
	align-items: center;
}

.rating__mobile-close-wr svg{
	transform: translateY(1px);
}

.rating__mobile-close{
	font-weight: 500;
	font-size: 10px;
	color: #B0B0B0;
	margin-right: 5px;
}

.rating__mobile-desc-wr .rating__item-desc{
	display: block;
}

.rating__mobile-desc-wr .rating__main, 
.rating__mobile-desc-wr .rating__payments{
	width: 100%;
}

.rating__mobile-desc-wr .rating__main-row:first-child,
.rating__mobile-desc-wr .rating__payments-row:first-child{
	border: none;
}

.rating__mobile-desc-wr .rating__main-heading,
.rating__mobile-desc-wr .rating__payments-heading{
	padding-left: 15px;
	font-size: 12px;
	line-height: 150%;
	margin-bottom: 10px;
}

.rating__mobile-desc-wr .rating__main-item,
.rating__mobile-desc-wr .rating__payments-item{
	font-size: 10px;
	line-height: 22px;
	padding: 5px 15px;
}

.rating__mobile-desc-wr .rating__payments{
	margin-top: 25px;
}

.rating__mobile-desc-wr .rating__info{
	width: 100%;
	padding-top: 0;
	border: none;
	margin-top: 25px;
}

.rating__mobile-desc-wr .rating__info-text{
	font-size: 10px;
	margin-left: 15px;
	line-height: 220%;
}

.rating__mobile-desc-wr .rating__info-sport,
.rating__mobile-desc-wr .rating__info-procent,
.rating__mobile-desc-wr .rating__info-value{
	font-size: 10px;
}

.rating__mobile-desc-wr .rating__info-sport,
.rating__mobile-desc-wr .rating__info-name{
	font-size: 10px;
}

.rating__mobile-desc-wr .rating__info-market{
	font-size: 10px;
}

.rating__mobile-desc-wr  .rating__item-desc-btn{
	display: block;
	padding: 0 15px 15px 15px;
}

.rating__mobile-desc-wr  .rating__item-btn-review,
.rating__mobile-desc-wr  .rating__item-btn-take{
	width: 100%;
	font-size: 11px;
}

.rating__mobile-desc-wr  .rating__item-btn-take{
	margin-top: 15px;
}

.rating__mobile-item .rating__item-help{
	top: 60px;
	left: 141px;
}

//--------------forecast mobile---------

.forecast__mobile-item{
	padding: 15px 0;
	display: none;
	border-bottom: 1px solid $black;
}

.forecast__mobile-item-header{
	display: flex;
	justify-content: space-between;
}

.forecast__mobile-item-header{
	font-weight: 600;
	font-size: 12px;
}

.forecast__mobile-item-header .forecast__item-logo{
	margin-right: 8px;
}

.forecast__mobile-item-time{
	font-weight: 400;
	font-size: 10px;
}

.forecast__mobile-item-date{
	font-weight: 500;
	font-size: 10px;
}

.forecast__mobile-item-team-wr .forecast__mobile-item-team:last-child{
	margin-top: 10px;
}

.forecast__mobile-item-text{
	font-size: 9px;
}

.forecast__mobile-item-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.forecast__mobile-item-btns-wr{
	display: flex;
	align-items: center;
}

.forecast__mobile-item-content .forecast__item-bet-link{
	margin-left: 10px;

}

.forecast__tags-wr.active,
.forecast__items-wr.active{
	display: block!important;
}

.forecast__mobile-load{
	display: none;
	border-radius: 3px;
	border: 1px solid #CDCDCD;
	text-align: center;
	height: 41px;
	line-height: 41px;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: 700;
	margin-top: 20px;
}